
<div class="policy">
  <div class="policy__content">
    <div class="container">
      <h5>Политика конфиденциальности</h5>
      <p>Политика конфиденциальности действует в отношении персональных данных, предоставляемых клиентами компании, как для оказания различного рода услуг, так и осуществления иного взаимодействия, как правило, в электронном формате, а также при участии клиентов в акциях компании, оказании технической поддержки клиенту и обслуживанию клиентов.</p>
      <p>Согласие на обработку персональных данных Клиент даетнажимая кнопку «Отправить запрос», и обязуется принять правила настоящей политики конфиденциальности. Согласие дается на обработку персональных данных, как без использования средств автоматизации, так и с их использованием.Согласие дается, в том числе на возможные информационные (рекламные) оповещения (в т. ч. осуществления информационных рассылок, рассылок о маркетинговых мероприятиях, специальных предложениях и акциях посредством SMS и e-mail).</p>
      <p>Администрация оставляет за собой право вносить изменения и дополнения в действующие положения Политики конфиденциальности, при этом данные изменения и дополнения будут иметь преимущество над действующими положениями Политики. Обращаем внимание, предоставляемые Администрация услуги могут содержать ссылки на третьих лиц, имеющих собственные положения Политики защиты частной информации. В таких случаях Администрация не несет ответственности за содержание и соблюдение положений Политики конфиденциальности любой сторонней компании. Предоставляя  свои персональные данные, клиент дает полное согласие на их обработку способами, предусмотренными действующими положениями Политики конфиденциальности компании.</p>
      <p>Администрация оставляет за собой право вносить изменения и дополнения в действующие положения Политики конфиденциальности, при этом данные изменения и дополнения будут иметь преимущество над действующими положениями Политики. Обращаем внимание, предоставляемые улуги могут содержать ссылки на третьих лиц, имеющих собственные положения Политики защиты частной информации. В таких случаях Администрация не несет ответственности за содержание и соблюдение положений Политики конфиденциальности любой сторонней компании. Предоставляя свои персональные данные, клиент дает полное согласие на их обработку способами, предусмотренными действующими положениями Политики конфиденциальности компании.</p>
      <h5>Порядок сбора, хранения и уничтожения персональных данных</h5>
      <p>Администрация осуществляет сбор персональных данных только с согласия пользователя и исключительно для предоставления клиенту сервиса или услуги, требующей информации частного характера: информирование, участие в акциях, обслуживание. Для предотвращения утечки персональных данных клиента использует полный спектр мер информационной безопасности (технические и организационные).</p>
      <p>Максимальный срок хранения персональных данных клиента составляет 75 лет с момента получения компанией информации частного характера. В других случаях компания хранит персональные данные клиента до прекращения своей деятельности.</p>
      <p>Уничтожение, обезличивание или блокировка персональных данных или их части клиента производится для исключения возможности дальнейшей обработки данной информации.</p>
      <h5>Администрация осуществляет сбор персональных данных клиента в следующих категориях: Техническая информация:</h5>
      <ul>
        <li>время доступа и IP-адрес;</li>
        <li>источники перехода на Интернет-ресурс компании;</li>
        <li>интернет-страницы, которые посетил пользователь;</li>
        <li>просмотры рекламных баннеров;</li>
        <li>другая техническая информация, предоставленная браузером пользователя;</li>
        <li>номер телефона клиента (в случае звонка на номера, указанные на сайте компании).</li>
      </ul>
      <h5>При осуществлении взаимодействия клиентом на сайте https://www.Angro.com.ua/ , компания осуществляет сбор персональной информации клиента, необходимой для /персонализации услуг/доставки заказа/обратной связи с клиентом:</h5>
      <ul> 
        <li>имя пользователя;</li>
        <li>фамилию пользователя;</li>
        <li>e-mail, номер телефона и адрес;</li>
        <li>наименование юридического лица.</li>
      </ul>
      <h5>Информация о действиях пользователя:</h5>
      <ul> 
        <ul> </ul>
        <li>сведения о соглашениях/договорах между клиентом и компанией;</li>
        <li>информация о запросах и направленных в адрес компании обращениях;</li>
        <li>данные о товарах, приобретенных клиентом и услугах, которыми клиент пользовался;</li>
      </ul>
      <h5> Цели обработки персональных данных клиентов :</h5>
      <ul> 
        <li>осуществление продаж и предоставление других услуг клиенту;</li>
        <li>учет клиентских пожеланий (при разработке нового продукта или услуги);</li>
        <li>информирование клиента об акциях, скидках и специальных предложениях посредством электронных и СМС-рассылок;</li>
        <li>осуществление обратной связи с клиентом;</li>
        <li>получение сводной информации о пользователях сайта в маркетинговых целях и исполнение договорных обязательств перед клиентами, контрагентами и иными субъектами персональных данных.</li>
      </ul>
      <p>Перечень действий с персональными данными, на совершение которых дается мое согласие, общее описание используемых Оператором способов обработки в соответствии с п. 3 ст. 3 Федерального закона от 27.07.2006 г. № 152-ФЗ «О персональных данных». В ходе обработки с персональными данными будут совершены следующие действия: сбор; запись; систематизация; накопление; хранение; уточнение (обновление, изменение); использование; обезличивание; удаление; уничтожение.</p>
      <h5>Администрация не предоставляет персональные данные клиентов третьим лицам, за исключением случаев:</h5>
      <ul>
        <li>получение прямого согласия пользователя на передачу его персональных данных третьему лицу;</li>
        <li>по требованию правоохранительных органов в соответствии с действующим законодательством;</li>
        <li>информирование клиента об акциях, скидках и специальных предложениях посредством электронных и СМС-рассылок;</li>
        <li>слияния или поглощения компании.</li>
      </ul>
      <h5>Использование файлов Cookies и точечных маркеров</h5>
      <p>Файлы Cookies дают возможность сбора следующей информации о клиенте: IP-адрес/операционная система/тип браузера/адреса ссылающихся сайтов. Это необходимо для улучшения услуг, предоставляемых клиенту компании (информирование клиентов при посещении сайта https://www.Angro.com.ua/ при закрытии браузера, анализ трафика и т.д.) По своему желанию клиент в любой момент может предотвратить отслеживание своих действий, отключив Cookies.</p>
      <h5>Права пользователей в отношении персональных данных</h5>
      <p>Все клиенты в случае изъявления желания прекратить обработку их персональных данных могут обратиться .</p>
      <div class="policy__close">
        <p>Закрыть</p>
      </div>
    </div>
  </div>
</div>