
<div class="container">
  <div class="grid">
    <div class="footer-address">
      <h5 class="footer-address__title">Наши офисы</h5><a class="footer-link" href="https://goo.gl/maps/uvTuZejuJ91FQi488">г.Полтава, ул. А.Кукоби, 12</a><a class="footer-link" href="https://goo.gl/maps/A4DGXzHAsAgAp9nc7">г.Миргород, ул.Победы,10, оф.1</a>
      <p>Время работы: 9:00 – 18:00</p>
    </div>
    <div class="footer-logo"><a class="link" href="#"> 
        <svg>
          <use xlink:href="images/main-page_icons-sprite.svg#logo"></use>
        </svg></a></div>
    <div class="footer-contacts"><a class="footer-link" href="mailto:angrobud@gmail.com"> angrobud@gmail.com</a><a class="footer-link" href="tel:+380509915883">+38(050) 991-58-83</a><a class="footer-link" href="tel:+380509915882">+38(050) 991-58-82</a><a class="footer-link" href="tel:+380509915880">+38(050) 991-58-80</a></div>
    <div class="footer-newsletter">
      <!--FORM START--><div class="footer-newsletter__form">
<h5 class="footer-newsletter__headline">Будьте в курсе спецпредложений</h5>
<div role="form" class="wpcf7" id="wpcf7-f2445-o2" lang="ru-RU" dir="ltr">
<form action="/#wpcf7-f2445-o2" method="post" class="wpcf7-form invalid" novalidate="novalidate">
<div style="display: none;">
<input type="hidden" name="_wpcf7" value="2445">
<input type="hidden" name="_wpcf7_version" value="5.1.7">
<input type="hidden" name="_wpcf7_locale" value="ru_RU">
<input type" value="wpcf7-f2445-o2">
<input type="hidden" name="_wpcf7_container_post" value="0">
</div>
<label class="footer-newsletter__title"> Ваш e-mail
<span class="wpcf7-form-control-wrap your-email">
<input type="email" name="your-email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email footer-newsletter__field wpcf7-not-valid" aria-required="true" aria-invalid="true">
</span> 
</label>
<input type="submit" value="Хочу быть в курсе!" class="wpcf7-form-control wpcf7-submit btn">
<span class="ajax-loader"></span>
</form>
</div>
</div>        
      <!--FORM END-->
    </div><a class="arrow-btn footer-btn" href="#">
      <div class="arrow-btn__icon">
        <svg class="icon">
          <use xlink:href="images/main-page_icons-sprite.svg#arrow"></use>
        </svg>
      </div>
      <p class="arrow-btn__text">Вверх</p></a>
    <div class="footer-backcall">
      <p class="footer-backcall__title">Мы предоставляем бесплатные консультации!</p><a class="btn">Закажите звонок!</a>
    </div>
    <div class="footer-social">
      <h6 class="footer-social__title">МЫ В СОЦСЕТЯХ</h6>
      <div class="footer-social__icons"><a class="footer-social__link" href="#">
          <div class="svg-wrap">
            <svg>
              <use xlink:href="images/main-page_icons-sprite.svg#facebook"></use>
            </svg>
          </div></a><a class="footer-social__link" href="#">
          <div class="svg-wrap">
            <svg>
              <use xlink:href="images/main-page_icons-sprite.svg#telegram"></use>
            </svg>
          </div></a><a class="footer-social__link" href="#">
          <div class="svg-wrap">
            <svg>
              <use xlink:href="images/main-page_icons-sprite.svg#insta"></use>
            </svg>
          </div></a></div>
    </div>
    <p class="footer-copyright">© 2020. <a class="footer-link" href="www.angro.com.ua">www.angro.com.ua</a></p>
  </div>
</div>