
<div class="container">
  <div class="footer-content grid">
    <div class="address">
      <h5>Наши офисы</h5><a class="link link--footer" href="#">г.Полтава, ул. А.Кукоби, 12</a><a class="link link--footer" href="#">г.Миргород, ул.Победы,10, оф.1</a><a class="link link--footer" href="#">Время работы: 9:00 – 18:00</a>
    </div>
    <div class="link-logo"><a class="link" href="#"> 
        <svg> 
          <use xlink:href="images/main-page_icons-sprite.svg#logo"></use>
        </svg></a></div>
    <div class="contacts">
      <h5>Наши офисы</h5><a class="link link--footer" href="mailto:angrobud@gmail.com"> angrobud@gmail.com</a><a class="link link--footer" href="tel=+380509915883">+38(050) 991-58-83</a><a class="link link--footer" href="tel=+380509915883">+38(050) 991-58-82</a>
    </div>
    <div class="newsletter">
      <form action=""></form>
      <fieldset>
        <legend>Будьте в курсе спецпредложений </legend>
      </fieldset>
      <div class="text-wrap">
        <label for="newsletter">Ваш e-mail
          <input id="newsletter" type="text"/>
        </label>
        <button class="submit">Хочу быть в курсе!</button>
      </div>
    </div><a class="link sm-button" href="#header">
      <div class="svg-wrap">
        <svg>
          <use xlink:href="images/main-page_icons-sprite.svg#arrow"></use>
        </svg>
      </div>
      <p>Вверх</p></a>
    <div class="backcall">
      <p>Мы предоставляем бесплатные консультации!</p><a class="submit">Закажите звонок!</a>
    </div>
    <div class="social">
      <h6>МЫ В СОЦСЕТЯХ</h6>
      <div class="icon-wrap"><a class="link" href="#header">
          <div class="svg-wrap">
            <svg>
              <use xlink:href="images/main-page_icons-sprite.svg#facebook icon"></use>
            </svg>
          </div></a><a class="link" href="#header">
          <div class="svg-wrap">
            <svg>
              <use xlink:href="images/main-page_icons-sprite.svg#telegram"></use>
            </svg>
          </div></a><a class="link" href="#header">
          <div class="svg-wrap">
            <svg>
              <use xlink:href="images/main-page_icons-sprite.svg#insta icon"></use>
            </svg>
          </div></a></div>
    </div>
    <p class="copyright">© 2020. www.angro.com.ua</p>
  </div>
</div>