
<div class="header">
  <div class="info">
    <div class="logo"><img class="logo__img" src="images/logo.svg"/></div>
    <div class="lang"><a class="link" href="#">UA</a>
      <p>|</p><a class="link" href="#">RU</a>
    </div>
    <div class="menu">
      <button class="button--menu">меню</button>
    </div>
    <div class="link-wrap"><a class="link link--info" href="#">
        <svg class="icon">
          <use xlink:href="#apartament"></use>
        </svg></a><a class="link link--info" href="#">
        <svg class="icon">
          <use xlink:href="#phone"></use>
        </svg></a><a class="link link--info" href="#">
        <svg class="icon">
          <use xlink:href="#email"></use>
        </svg></a></div>
  </div>
  <ul class="nav">         
    <li class="nav__item"><a class="link link--nav" href="#">Главная</a></li>
    <li class="nav__item"><a class="link link--nav" href="#">Объекты</a></li>
    <li class="nav__item"><a class="link link--nav" href="#">Квартиры</a></li>
    <li class="nav__item"><a class="link link--nav" href="#">Галерея</a></li>
    <li class="nav__item"><a class="link link--nav" href="#">Блог</a></li>
  </ul>
</div>