
<div class="container">
  <div class="grid">
    <h3 class="headline">Только лучшее для амбициозных и успешных</h3>
    <form class="grid" action="">
      <fieldset>
        <legend>Оставьте координаты, и мы с вами свяжемся</legend>
      </fieldset>
      <label for="username">Ваше имя
        <input id="username" type="text" required="required"/>
      </label>
      <label for="tel">Телефон
        <input id="tel" type="tel" required="required"/>
      </label>
      <label for="email">EMAIL (НЕ ОБЯЗАТЕЛЬНО)
        <input id="email" type="email"/>
      </label>
      <label for="check">Я даю согласие на обработку моих персональных данных согласно <a>политике конфиденциальности</a>
        <input id="check" type="checkbox"/>
      </label>
      <button>Отправить запрос</button>
    </form>
  </div>
</div>