
<div class="container">
  <form class="grid contact-form" action="">
    <h4 class="contact-form__headline">С удовольствием проконсультируем Вас!</h4>
    <label class="contact-form__title" for="username">Ваше имя
      <input class="contact-form__field" id="username" type="text" required="required"/>
    </label>
    <label class="contact-form__title" for="tel">Телефон
      <input class="contact-form__field" id="tel" type="tel" required="required"/>
    </label>
    <label class="contact-form__title" for="email">EMAIL (НЕ ОБЯЗАТЕЛЬНО)
      <input class="contact-form__field" id="email" type="email"/>
    </label>
    <div class="contact-form__checkbox">
      <input class="contact-form__field" id="check" type="checkbox"/>
      <div class="contact-form__text">
        <label class="contact-form__title" for="check">Я даю согласие на обработку моих персональных данных согласно </label><a class="link contact-form__link" href="#">политике конфиденциальности </a>
      </div>
    </div>
    <button class="btn contact-form__btn" type="submit">Отправить запрос</button>
  </form>
</div>