
<div class="container">
  <!--SLIDER BUTTON START-->
  <svg class="objects-slider__icon">
    <use xlink:href="images/main-page_icons-sprite.svg#arrow"> </use>
  </svg>
  <!--SLIDER BUTTON END -->
  <div class="objects-slider">
    <!-- TILE START-->
    <div class="objects-tile"> 
      <div class="objects-tile__info"> 
        <h3 class="headline">ТОЛЬКО ЛУЧШЕЕ ДЛЯ АМБИЦИОЗНЫХ И УСПЕШНЫХ</h3>
        <h2 class="title">Наши объекты</h2><a class="objects-tile__headline link--active" href="#">ЖК "На Сенной"</a>
        <p class="objects-tile__text">Жилищный комплекс «На Сенной» состоит из двух 8-ми этажных жилых домов в самом центре города. Комплекс расположен в тихом, уютном районе города. Разнообразие планировочных решений позволит каждому найти жилье на свой вкус. Рядом с домом находятся детский сад, общеобразовательная школа, магазины.</p>
        <div class="objects-tile__links"><a class="arrow-btn arrow-btn--left" href="#">
            <div class="arrow-btn__icon">
              <svg class="icon">
                <use xlink:href="images/main-page_icons-sprite.svg#arrow"></use>
              </svg>
            </div>
            <p class="arrow-btn__text">Посмотреть квартиры объекта</p></a><a class="arrow-btn arrow-btn--left" href="#">
            <div class="arrow-btn__icon">
              <svg class="icon">
                <use xlink:href="images/main-page_icons-sprite.svg#arrow"></use>
              </svg>
            </div>
            <p class="arrow-btn__text">Посмотреть все объекты</p></a></div>
      </div>
      <div class="objects-tile__illustration"><img class="objects-tile__img" src="images/object_img1.jpg"/>
        <div class="objects-tile__icons">
          <div class="objects-tile__icon">
            <p class="objects-tile__icon-text">Детсад</p>
            <svg class="objects-icon">
              <use xlink:href="images/main-page_icons-sprite.svg#puzzle">      </use>
            </svg>
          </div>
          <div class="objects-tile__icon">
            <p class="objects-tile__icon-text">Школа</p>
            <svg class="objects-icon">
              <use xlink:href="images/main-page_icons-sprite.svg#castle"> </use>
            </svg>
          </div>
          <div class="objects-tile__icon">
            <p class="objects-tile__icon-text">Парк</p>
            <svg class="objects-icon">
              <use xlink:href="images/main-page_icons-sprite.svg#park"></use>
            </svg>
          </div>
        </div>
      </div>
    </div>
    <!--TILE END-->
    <!--TILE STRAT-->
    <div class="objects-tile">
      <div class="objects-tile__info"> 
        <h3 class="headline">ТОЛЬКО ЛУЧШЕЕ ДЛЯ АМБИЦИОЗНЫХ И УСПЕШНЫХ</h3>
        <h2 class="title">Наши объекты</h2><a class="objects-tile__headline link--active" href="#">ЖК "На Сенной"</a>
        <p class="objects-tile__text">Жилищный комплекс «На Сенной» состоит из двух 8-ми этажных жилых домов в самом центре города. Комплекс расположен в тихом, уютном районе города. Разнообразие планировочных решений позволит каждому найти жилье на свой вкус. Рядом с домом находятся детский сад, общеобразовательная школа, магазины.</p>
        <div class="objects-tile__links"><a class="arrow-btn arrow-btn--left" href="#">
            <div class="arrow-btn__icon">
              <svg class="icon">
                <use xlink:href="images/main-page_icons-sprite.svg#arrow"></use>
              </svg>
            </div>
            <p class="arrow-btn__text">Посмотреть квартиры объекта</p></a><a class="arrow-btn arrow-btn--left" href="#">
            <div class="arrow-btn__icon">
              <svg class="icon">
                <use xlink:href="images/main-page_icons-sprite.svg#arrow"></use>
              </svg>
            </div>
            <p class="arrow-btn__text">Посмотреть все объекты</p></a></div>
      </div>
      <div class="objects-tile__illustration"><img class="objects-tile__img" src="images/object_img1.jpg"/>
        <div class="objects-tile__icons">
          <div class="objects-tile__icon">
            <p class="objects-tile__icon-text">Детсад</p>
            <svg class="objects-icon">
              <use xlink:href="images/main-page_icons-sprite.svg#puzzle">      </use>
            </svg>
          </div>
          <div class="objects-tile__icon">
            <p class="objects-tile__icon-text">Школа</p>
            <svg class="objects-icon">
              <use xlink:href="images/main-page_icons-sprite.svg#castle"> </use>
            </svg>
          </div>
          <div class="objects-tile__icon">
            <p class="objects-tile__icon-text">Парк</p>
            <svg class="objects-icon">
              <use xlink:href="images/main-page_icons-sprite.svg#park"></use>
            </svg>
          </div>
        </div>
      </div>
    </div>
    <!--TILE END-->
  </div>
</div>