
<div class="sidebar">
  <div class="sidebar-content"><a class="logo"><img class="logo__img" src="images/logo.svg"/></a>
    <div class="lang"><a class="link active" href="#">UA</a>
      <p>|</p><a class="link" href="#">RU</a>
    </div>
    <div class="button">
      <button class="button__menu">меню</button>
    </div>
    <div class="link-wrap"><a class="link link--info" href="#">
        <svg class="icon">
          <use xlink:href="#apartament"></use>
        </svg></a><a class="link link--info" href="#">
        <svg class="icon">
          <use xlink:href="#phone"></use>
        </svg></a><a class="link link--info" href="#">
        <svg class="icon">
          <use xlink:href="#email"></use>
        </svg></a></div>
  </div>
  <ul class="menu">
    <div class="menu__main">     
      <li class="menu__item"><a class="link active" href="#">Главная</a></li>
      <li class="menu__item"><a class="link" href="#">Объекты</a></li>
      <li class="menu__item"><a class="link" href="#">Квартиры</a></li>
      <li class="menu__item"><a class="link" href="#">Галерея</a></li>
      <li class="menu__item"><a class="link" href="#">Блог</a></li>
    </div>
    <div class="menu__footer">
      <li class="menu__item"><a class="link active" href="#">Выбрать квартиру</a></li>
      <li class="menu__item"><a class="link" href="tel:+38(050)-991-58-80">+38 (050) 991 58 80</a></li>
      <li class="menu__item"><a class="link email" href="mailto:angrobud@gmail.com">angrobud@gmail.com</a></li>
    </div>
  </ul>
</div>
<div class="bg"></div>