
<div class="sidebar">
  <div class="sidebar-content">
    <!-- LOGO START  --><a class="sidebar-logo" href="index.html">             
      <svg class="sidebar-logo__icon">
        <use xlink:href="images/main-page_icons-sprite.svg#logo"></use>
      </svg></a>
    <!-- LOGO END -->
    <!-- LANG SELECT START-->
    <div class="sidebar-lang"><a class="sidebar-lang__link link--active" href="#">UA</a><a class="sidebar-lang__link" href="#">RU</a></div>
    <!-- LANG SELECT END-->
    <div class="sidebar-menu">
      <div class="sidebar-menu__triger">Меню</div>
    </div>
    <div class="sidebar-icons"><a class="sidebar-icons__item" href="#">
        <svg class="sidebar-icons__icon">
          <use xlink:href="images/main-page_icons-sprite.svg#apartament"></use>
        </svg></a><a class="sidebar-icons__item" href="tel:+380509915880">
        <svg class="sidebar-icons__icon icon--phone">
          <use xlink:href="images/main-page_icons-sprite.svg#phone"></use>
        </svg></a><a class="sidebar-icons__item" href="mailto:angrobud@gmail.com">
        <svg class="sidebar-icons__icon icon--email">
          <use xlink:href="images/main-page_icons-sprite.svg#email"></use>
        </svg></a></div>
  </div>
</div>
<div class="menu">
  <ul class="menu-top">     
    <li class="menu-item"><a class="link--active" href="index.html">Главная</a></li>
    <li class="menu-item"><a href="object.html">Объекты</a></li>
    <li class="menu-item"><a href="apartments.html">Квартиры</a></li>
    <li class="menu-item"><a href="gallery.html">Галерея</a></li>
    <li class="menu-item"><a href="blog.html">Блог</a></li>
  </ul>
  <!--MOBILE LANG-->
  <div class="mobile-menu__lang"><a class="mobile-menu__link link--active" href="#">UA</a><a class="mobile-menu__link" href="#">RU</a></div>
  <!--MOBILE LANG END-->
  <!--MOBILE LOGO--><a class="mobile-logo" href="#">             
    <svg class="mobile-logo__icon">
      <use xlink:href="images/main-page_icons-sprite.svg#logo"></use>
    </svg></a>
  <!--MOBILE LOGO END-->
  <div class="menu-info"><a class="menu-info__item" href="#">
      <svg class="menu-info__icon">
        <use xlink:href="images/main-page_icons-sprite.svg#apartament"></use>
      </svg>
      <div class="menu-info__text"> 
        <p class="info-link">Выбрать квартиру</p>
      </div></a>
    <div class="menu-info__item">
      <svg class="menu-info__icon">
        <use xlink:href="images/main-page_icons-sprite.svg#phone"></use>
        <!--CLASS CHANGE!!!-->
        <div class="menu-info__text"> <a href="tel:+380506347178">+38(050) 634 71 78</a>
          <p class="link--active">Заказать звонок</p>
        </div>
      </svg>
    </div>
  </div>
  <ul class="menu-footer">
    <li class="menu-item"><a class="link--active" href="#">Выбрать квартиру</a></li>
    <li class="menu-item"><a href="tel:+380509915880">+38 (050) 991 58 80</a></li>
    <li class="menu-item"><a class="link--email" href="mailto:angrobud@gmail.com">angrobud@gmail.com</a></li>
  </ul>
</div>
<div class="mobile-menu">
  <div class="mobile-menu__icon">
    <!--use(xlink:href="images/main-page_icons-sprite.svg#menu icon")-->
  </div>
</div>