
<div class="sidebar">
  <div class="sidebar-content">
    <!-- LOGO START  --><a class="sidebar-logo" href="#">             
      <svg class="sidebar-logo__icon">
        <use xlink:href="images/main-page_icons-sprite.svg#logo"></use>
      </svg></a>
    <!-- LOGO END -->
    <!-- LANG SELECT START-->
    <div class="sidebar-lang"><a class="sidebar-lang__link link--active" href="#">UA</a><a class="sidebar-lang__link" href="#">RU</a></div>
    <!-- LANG SELECT END-->
    <div class="sidebar-menu">
      <div class="sidebar-menu__triger">Меню</div>
    </div>
    <div class="sidebar-icons"><a class="sidebar-icons__item" href="#">
        <svg class="sidebar-icons__icon">
          <use xlink:href="images/main-page_icons-sprite.svg#apartament"></use>
        </svg></a><a class="sidebar-icons__item" href="#">
        <svg class="sidebar-icons__icon icon--phone">
          <use xlink:href="images/main-page_icons-sprite.svg#phone"></use>
        </svg></a><a class="sidebar-icons__item" href="#">
        <svg class="sidebar-icons__icon icon--email">
          <use xlink:href="images/main-page_icons-sprite.svg#email"></use>
        </svg></a></div>
  </div>
</div>
<div class="menu">
  <ul class="menu-top">     
    <li class="menu-item"><a class="link--active" href="#">Главная</a></li>
    <li class="menu-item"><a href="#">Объекты</a></li>
    <li class="menu-item"><a href="#">Квартиры</a></li>
    <li class="menu-item"><a href="#">Галерея</a></li>
    <li class="menu-item"><a href="#">Блог</a></li>
  </ul>
  <ul class="menu-footer">
    <li class="menu-item"><a class="link--active" href="#">Выбрать квартиру</a></li>
    <li class="menu-item"><a href="tel:+38(050)-991-58-80">+38 (050) 991 58 80</a></li>
    <li class="menu-item"><a class="link--email" href="mailto:angrobud@gmail.com">angrobud@gmail.com</a></li>
  </ul>
</div>