.info {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    color: #FFFFFF;
    background: rgba(14, 14, 14, 0.5);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    @include size(500px, 7rem);
    padding: 20px;
    @media (max-width: 576px) {
        display: none;
    }
    @media (min-width: 768px) and (orientation: portrait) {
        display: none;
    }
    @media (max-width: 812px) and (orientation: landscape) {
        display: none;
    }
    &-block {
        width: 50%;
        min-width: 205px;
        margin: .5rem;
        cursor: pointer;
        font-size: 28px;
        text-decoration: none;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    &-left {
        margin: .8rem;
        .info-text {
            font-size: 1.25rem;
            text-decoration: none;
            margin: 0;
        }
        .info-link {
            font-size: 1rem;
            text-decoration: underline;
        }
        @media (max-width: 1250px) {
            .info-text {
                font-size: 1.1rem;
            }
            .info-link {
                font-size: .8rem;
            }
        }
        @media (max-width: 1030px) {
            .info-text {
                font-size: .8rem;
            }
            .info-link {
                font-size: .5rem;
            }
        }
        @media (max-width: 1029px) and (orientation: landscape) {
            .info-text {
                font-size: 1.1rem;
            }
            .info-link {
                font-size: .8rem;
            }
        }
    }
    &-right {
        justify-content: center;
        flex-direction: row;
        text-transform: uppercase;
        line-height: 1.3rem;
        &:hover {
            .info-icon {
                fill: #FFF3A6;
            }
        }
        .info-icon {
            fill: $light-hover;
            @include size(65px, 50px);
            margin: .7rem;
        }
        .info-link {
            font-size: 1.3rem;
        }
        @media (max-width: 1250px) {
            .info-link {
                font-size: 1.1rem;
            }
        }
        @media (max-width: 1030px) {
            .info-link {
                font-size: .8rem;
            }
        }
    }
}