.modal-video {
    &-is-shown {
        display: block;
    }
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: rgba(66, 60, 58, 0.95);
    &__content {
        @include pos($t: 50%, $l: 50%);
        transform: translateX(-50%) translateY(-50%);
        @include size(100vw, 56vw);
        @media (min-width: 1024px) {
            @include size(80vw, 80vh);
            //padding: 50px 25px;
        }
        @media (max-width: 812px) and (orientation: landscape) {
            @include size(79vw, 100vh);
        }
        iframe {
            @include size(100%);
        }
        @media (min-width: 1366px) {
            @include size(960px, 540px);
        }
        @media (min-width: 1600px) {
            @include size(1280px, 720px);
        }
    }
    &__close {
        @include size(40px);
        @include pos($t: -60px, $r: 20px);
        background: #F5F5F4;
        border-radius: 50%;
        cursor: pointer;
        transition: all .3s;
        &:hover {
            background: #514947;
            &:before,
            &:after {
                background: #F5F5F4;
            }
        }
        &:active {
            background: #423C3A;
        }
        &:before {
            content: '';
            @include size(1px, 25px);
            @include pos($t: 7px, $r: 20px);
            transform: rotate(45deg);
            background: #514947;
        }
        &:after {
            content: '';
            @include size(1px, 25px);
            @include pos($t: 7px, $r: 20px);
            transform: rotate(-45deg);
            background: #514947;
        }
        @media (max-width: 812px) and (orientation: landscape) {
            @include pos($t: 13px, $r: -55px);
        }
        @media (min-width: 1024px) {
            @include pos($t: 10px, $r: -80px);
            @include size(60px);
            &:before {
                @include pos($t: 7px, $r: 29px);
                @include size(2px, 45px);
            }
            &:after {
                @include pos($t: 7px, $r: 29px);
                @include size(2px, 45px);
            }
        }
    }
}