.article-header {
    background: #F5F5F4;
    padding-bottom: 40px;
    .mobile-logo {
        top: 100px;
        @media (max-width: 576px) {
            top: 60px;
        }
        @media (max-width: 768px) and (orientation: landscape) {
            top: 100px;
        }
        &__icon {
            fill: #423C3A;
        }
    }
    .title {
        font-size: 36px;
        margin: 120px 0 20px;
        @media (min-width: 1200px) {
            font-size: 64px;
            line-height: 78px;
            margin: 60px 0 20px;
        }
    }
    .headline {
        margin: 0 0 0 2px;
        @media (min-width: 1200px) {
            font-size: 19px;
            line-height: 23px;
        }
    }
    .arrow-btn--left {
        color: #423C3A;
        margin: 20px 0 20px;
        .arrow-btn__icon {
            @include size(40px);
            @media (min-width: 1025px) {
                @include size(65px);
            }
        }
        .icon {
            left: 16px;
            height: 20px;
            transform: rotate(-360deg) translateY(-50%);
            @media (min-width: 1025px) {
                top: 50%;
                left: 25px;
            }
        }
    }
    .container {
        margin-bottom: 0;
    }
}

.article-content {
    background: #F5F5F4;
    @media (min-width: 1025px) {
        padding-top: 0;
    }
    .container {
        @media (min-width: 1025px) {
            padding-top: 60px;
            padding-bottom: 70px;
            padding-left: 70px;
            padding-right: 70px;
        }
        background: #FFFFFF;
        box-shadow: 7px 7px 15px rgba(0, 0, 0, 0.15);
    }
    .date {
        font-size: 16px;
        line-height: 20px;
        padding: 0 25px;
        @media (min-width: 1025px) {
            font-size: 19px;
            line-height: 23px;
            margin-bottom: 35px;
            padding: 0;
        }
    }
    .information {
        padding: 40px 0;
        &__headline {
            font-weight: bold;
            font-size: 24px;
            line-height: 29px;
            padding: 0 25px;
            @media (min-width: 1025px) {
                font-size: 36px;
                line-height: 44px;
                margin-bottom: 60px;
                padding: 0;
            }
        }
        p,
        ul,
        ol {
            argin: 15px 25px;
            font-family: Bellota Text;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 20px;
            //text-align: justify;
            @media (min-width: 1025px) {
                font-size: 22px;
                line-height: 28px;
                margin: 15px 0;
            }
            // &:after {
            //     content: "";
            //     display: table;
            //     clear: both;
            // }
        }
        p {
            padding: 0 5px;
            @media (min-width: 1025px) {
                padding: 0;
            }
        }
        li {
            a {
                color: #423C3A;
                font-weight: bold;
                text-decoration: underline;
                &:hover {
                    color: #828282;
                    text-decoration: underline;
                }
            }
        }
    }
    .text__headlide {
        padding: 0 5px;
        //font-style: italic;
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        @media (min-width: 1025px) {
            font-family: Bellota Text;
            //font-style: italic;
            font-weight: normal;
            font-size: 24px;
            line-height: 30px;
            padding: 0;
            margin-bottom: 45px;
        }
    }
    table {
        font-size: 14px;
        line-height: 26px;
        color: #423C3A;
        background: #FFFFFF;
        overflow: hidden;
        width: calc(100% + 40px);
        margin: 0 -20px 20px;
        @media (min-width: 1025px) {
            //margin: 0 25px;
            background: transparent;
            line-height: 32px;
            font-size: 18px;
            text-align: center;
            margin-bottom: 30px;
            width: 50%;
        }
        tr {
            display: grid;
            grid-template-columns: 40% 20% 40%;
            grid-gap: 2px;
            margin: 0 0 2px;
        }
        th {
            font-weight: bold;
            background: #FFF3A6;
            padding: 0 0 0 5px;
        }
        td {
            margin: 0;
            padding: 0 0 0 5px;
            background: #FFF3A6;
        }
    }
    img {
        width: 100%;
        margin: 0 0 1rem;
        width: calc(100% + 40px);
        margin: 0 -20px 20px;
        @media (min-width: 1025px) {
            max-width: 500px;
            height: auto;
            width: unset;
            margin: 0;
        }
    }
    .float-left {
        @media (min-width: 1025px) {
            float: left;
            margin: 40px 60px 40px 0;
        }
    }
    .float-right {
        @media (min-width: 1025px) {
            float: right;
            margin: 40px 0 40px 60px;
        }
    }
    ol {
        margin: 0 0 1rem;
        counter-reset: list 0;
        strong {
            text-decoration: underline;
        }
        li {
            margin: 0 30px 1rem 60px;
            position: relative;
            list-style-type: none;
            @media (min-width: 1025px) {
                margin: 0 30px 16px 70px;
                //line-height: 32px;
            }
            &:before {
                content: '';
                @include pos($t: 50%, $l: -20px);
                transform: translateY(-50%) translateX(-50%);
                counter-increment: list;
                content: counter(list) "";
                color: #FFF3A6;
                z-index: 2;
                @media (min-width: 1025px) {
                    //top: 8.5px;
                    left: -40px;
                }
            }
            &::after {
                content: '';
                @include pos($t: 50%, $l: -30px);
                @include size(20px);
                background: #423C3A;
                border-radius: 50%;
                transform: translateY(-50%);
                // z-index: 1;
                @media (min-width: 1025px) {
                    @include size(40px);
                    left: -60px;
                }
            }
        }
    }
    ul {
        margin: 0 0 1rem;
        counter-reset: list 0;
        strong {
            text-decoration: underline;
        }
        li {
            margin: 0 30px 1rem 60px;
            position: relative;
            list-style-type: none;
            @media (min-width: 1025px) {
                margin: 0 30px 1rem 70px;
            }
            &::after {
                content: '';
                @include pos($t: 50%, $l: -30px);
                @include size(20px);
                background: #423C3A;
                border-radius: 50%;
                transform: translateY(-50%);
                //z-index: 1;
                @media (min-width: 1025px) {
                    @include size(40px);
                    left: -60px;
                }
            }
        }
    }
    a {
        color: #423c3a;
        text-decoration: underline;
        &:hover {
            color: #828282;
        }
    }
}