.gallery-header {
    padding-bottom: 40px;
    background: #F5F5F4;
    .mobile-logo {
        top: 100px;
        @media (max-width: 576px) {
            top: 60px;
        }
        @media (max-width: 768px) and (orientation: landscape) {
            top: 100px;
        }
        &__icon {
            fill: #423C3A;
        }
    }
    .title {
        font-size: 36px;
        margin: 150px 0 20px;
        @media (min-width: 1200px) {
            font-size: 64px;
            line-height: 78px;
            margin: 60px 0 20px;
        }
    }
    .headline {
        margin: 0 0 0 2px;
        @media (min-width: 1200px) {
            font-size: 19px;
            line-height: 23px;
        }
    }
}

.gallery-list {
    display: flex;
    flex-direction: column;
    background: #f5f5f4;
    @media (min-width: 1025px) {
        padding: 0;
    }
    .container {
        padding: 0;
    }
    &__item {
        display: grid;
        background: #423C3A;
        color: #ffffff;
        margin: 0 0 40px;
        grid-template-rows: 57.5% 42.5%;
        height: 730px;
        @media (min-width: 1025px) {
            grid-template-rows: 1fr 1fr;
            margin: 0;
            min-height: 500px;
            max-height: 700px;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr;
            &:nth-child(2n) {
                .logo {
                    grid-column: 2/3;
                    grid-row: 1/2;
                }
                .picture {
                    grid-column: 1/2;
                    grid-row: 1/2;
                }
            }
        }
    }
    .logo {
        height: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 40px 0;
        &__text {
            font-size: 19px;
            line-height: 24px;
        }
        &__title {
            font-size: 36px;
            line-height: 44px;
        }
        &__headline {
            font-size: 16px;
            line-height: 20px;
        }
        svg {
            fill: #FFFFFF;
        }
        @media (min-width: 1025px) {
            padding: 0;
        }
        .link {
            font-size: 24px;
            line-height: 30px;
            font-family: Bellota Text;
            @media (min-width: 1025px) {
                margin: 75px 0 0 0;
                //font-size: 36px;
                font-size: 28px;
                line-height: 45px;
            }
        }
    }
    .picture {
        position: relative;
        justify-content: center;
        display: flex;
        @include size(100%, auto);
        overflow: hidden;
        &:hover {
            img {
                transform: scale(1.1);
                box-shadow: inset 14px 3px 170px -82px rgba(0, 0, 0, 0.75);
            }
            .picture__icon-wrap {
                filter: invert(1);
            }
        }
        img {
            @include size(100%, auto);
            @media (min-width: 1025px) {
                width: 100%;
                min-height: 500px;
                max-height: 700px;
            }
            transition: all 1s linear;
        }
        &__icon-wrap {
            @include pos($t: 50%, $l: 50%);
            border-radius: 50%;
            background: #FFFFFF;
            transform: translateX(-50%) translateY(-50%);
            transition: all .3s;
            .icon {
                @include size(40px);
                @media (min-width: 1025px) {
                    @include size(70px);
                }
            }
        }
    }
    .pagination {
        margin-top: 90px;
    }
}