.article-header {
    background: #F5F5F4;
    padding: 0 0 40px;
    .mobile-logo {
        top: 100px;
        @media (max-width: 576px) {
            top: 60px;
        }
        @media (max-width: 768px) and (orientation: landscape) {
            top: 100px;
        }
        &__icon {
            fill: #423C3A;
        }
    }
    .title {
        font-size: 36px;
        margin: 120px 0 20px;
        @media (min-width: 1200px) {
            font-size: 64px;
            line-height: 78px;
            margin: 60px 0 20px;
        }
    }
    .headline {
        margin: 0 0 0 2px;
        @media (min-width: 1200px) {
            font-size: 19px;
            line-height: 23px;
        }
    }
}

.article-content {
    background: #FFFFFF;
    box-shadow: 7px 7px 15px rgba(0, 0, 0, 0.15);
    .container {
        padding: 0;
    }
    .text {
        padding: 0;
    }
    .text__headlide {
        padding: 0 25px;
        @media (min-width: 1025px) {
            font-size: 24px;
            line-height: 30px;
            margin: 0 0 30px 0;
            padding: 0 25px;
        }
    }
    .text__main {
        margin: 15px 0;
        padding: 0 25px;
        font-family: Bellota Text;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        @media (min-width: 1025px) {
            font-size: 22px;
            line-height: 28px;
        }
        p {
            &:after {
                content: "";
                display: table;
                clear: both;
            }
        }
    }
    img {
        width: 100%;
        margin: 0 0 1rem;
        @media (min-width: 1025px) {
            width: 40%;
        }
    }
    .float-left {
        @media (min-width: 1025px) {
            float: left;
            margin: 60px 60px 60px 0;
        }
    }
    .float-right {
        @media (min-width: 1025px) {
            float: right;
            margin: 60px 0 60px 60px;
        }
    }
    ol {
        margin: 0 0 1rem;
        counter-reset: list 0;
        strong {
            text-decoration: underline;
        }
        li {
            margin: 0 30px 1rem 40px;
            position: relative;
            list-style-type: none;
            @media (min-width: 1025px) {
                margin: 0 30px 1rem 70px;
            }
            &:before {
                content: '';
                @include pos($t: 3px, $l: -24px);
                counter-increment: list;
                content: counter(list) "";
                // @include size(20px);
                // background: #423C3A;
                //border-radius: 50%;
                color: #FFF3A6;
                z-index: 2;
                @media (min-width: 1025px) {
                    top: 8px;
                    left: -45px;
                }
            }
            &::after {
                content: '';
                @include pos($t: 3px, $l: -30px);
                @include size(20px);
                background: #423C3A;
                border-radius: 50%;
                // z-index: 1;
                @media (min-width: 1025px) {
                    @include size(40px);
                    left: -60px;
                }
            }
        }
    }
    ul {
        margin: 0 0 1rem;
        counter-reset: list 0;
        strong {
            text-decoration: underline;
        }
        li {
            margin: 0 30px 1rem 40px;
            position: relative;
            list-style-type: none;
            @media (min-width: 1025px) {
                margin: 0 30px 1rem 70px;
            }
            &::after {
                content: '';
                @include pos($t: 3px, $l: -30px);
                @include size(20px);
                background: #423C3A;
                border-radius: 50%;
                //z-index: 1;
                @media (min-width: 1025px) {
                    @include size(40px);
                    left: -60px;
                }
            }
        }
    }
}