.object-modal {
    &-is-shown {
        display: block;
    }
    .container {
        padding: 0;
        max-width: unset;
        @media (min-width: 1025px) {
            margin: 90px 180px 70px;
            width: calc(100% - 360px);
            height: calc(100% - 160px);
        }
    }
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    //background: rgba(66, 60, 58, 0.7);
    background: rgb(123, 119, 117);
    color: #FFFFFF;
    &__close {
        grid-column: 1/3;
        grid-row: 4/5;
        display: flex;
        align-items: center;
        margin: 0 0 40px 48px;
        transition: all .3s;
        @media (min-width: 1025px) {
            grid-row: 2/3;
            grid-column: 1/2;
            margin: 10px 0 0;
            align-items: center;
            width: 165px;
        }
        @media (min-width: 1366px) {
            margin: 0;
            grid-row: 3/4;
        }
        .close {
            @include size(40px);
            background: #F5F5F4;
            border-radius: 50%;
            cursor: pointer;
            transition: all .3s;
            position: relative;
            @media (min-width: 1025px) {
                @include size(65px);
            }
            &:before {
                content: '';
                @include size(1px, 25px);
                @include pos($t: 7px, $r: 20px);
                transform: rotate(45deg);
                background: #514947;
            }
            &:after {
                content: '';
                @include size(1px, 25px);
                @include pos($t: 7px, $r: 20px);
                transform: rotate(-45deg);
                background: #514947;
            }
            &:before,
            &:after {
                @media (min-width: 1025px) {
                    @include pos($t: 10px, $r: 32px);
                    @include size(2px, 45px);
                }
            }
        }
        p {
            font-size: 16px;
            line-height: 20px;
            text-transform: uppercase;
            padding: 15px;
        }
        &:hover {
            .close {
                filter: invert(1);
            }
            p {
                color: #FFF3A6;
            }
        }
    }
    &__btn {
        //margin: 0 0 15px 50px;
        margin: 0 0 15px 48px;
        @media (min-width: 1025px) {
            grid-row: 2/3;
            grid-column: 2/3;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 10px 0 0;
        }
        @media (min-width: 1366px) {
            margin: 0;
            grid-row: 3/4;
        }
    }
    .arrow-btn {
        // height: 40px;
        // &__text {
        //     font-size: 16px;
        //     line-height: 20px;
        // }
        height: unset;
        margin: 0;
        font-size: 18px;
        grid-column: 1/3;
        grid-row: 3/4;
        .icon {
            top: 50%;
            left: calc(50% - 4px);
            width: 11px;
        }
        &::after {
            top: 50%;
        }
        &__text {
            font-size: 16px;
            padding: 0 0 0 15px;
        }
        @media (min-width: 1025px) {
            .icon {
                width: 13px;
            }
        }
    }
    .content {
        display: grid;
        @media (min-width: 1025px) {
            grid-template-columns: 50% 50%;
            grid-template-rows: 8fr 1fr 1fr;
            // @include pos($b: 52%, $l: 50%);
            // transform: translateX(-50%) translateY(50%);
        }
    }
    .information {
        margin: 0;
        overflow: hidden;
        grid-row: 1/2;
        grid-column: 1/3;
        @media (min-width: 1025px) {
            grid-row: 1/2;
            grid-column: 1/2;
        }
        &__headline {
            font-size: 24px;
            line-height: 29px;
            margin: 0 25px;
            font-family: Century Gothic;
            font-style: normal;
            font-weight: bold;
            @media (min-width: 1025px) {}
            @media (min-width: 1200px) {
                font-size: 18px;
                line-height: 24px;
                margin: 0 0 16px;
            }
            @media (min-width: 1450px) {
                font-size: 24px;
                line-height: 28px;
                margin: 0 0 36px;
            }
            @media (min-width: 1650px) {
                font-size: 36px;
                line-height: 44px;
                margin: 0 0 56px;
            }
        }
        p {
            margin: 0 25px 15px;
            //padding: 0 25px;
            font-family: Bellota Text;
            font-style: italic;
            @media (min-width: 1025px) {
                font-size: 19px;
                line-height: 23px;
                margin: 0 25px 40px;
            }
        }
        .text {
            margin: 50px 25px 30px;
            font-family: Bellota Text;
            font-style: italic;
            font-weight: normal;
            font-size: 16px;
            line-height: 20px;
            @media (min-width: 1025px) {
                margin: 0 0 30px;
            }
            @media (min-width: 1200px) {
                font-size: 16px;
                line-height: 22px;
            }
            @media (min-width: 1450px) {
                font-size: 18px;
                line-height: 24px;
            }
            @media (min-width: 1650px) {
                font-size: 24px;
                line-height: 30px;
            }
        }
    }
    .date {
        margin: 30px 25px;
        font-family: Century Gothic;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        @media (min-width: 1200px) {
            margin: 10px 0 20px;
        }
        @media (min-width: 1450px) {
            margin: 20px 0 30px;
            font-size: 19px;
            line-height: 23px;
        }
        @media (min-width: 1650px) {
            margin: 30px 0 40px;
            font-size: 19px;
            line-height: 23px;
        }
    }
    .photo {
        margin: 20px 0 40px 0;
        height: 260px;
        position: relative;
        overflow: hidden;
        //grid-row: 2/3;
        grid-column: 1/3;
        @media (min-width: 1025px) {
            grid-row: 1/2;
            grid-column: 2/3;
            height: 100%;
            margin: 0 0 0 150px;
            align-self: flex-start;
            display: flex;
            align-items: flex-strat;
        }
        .img {
            @include size(100%, auto);
            @media (min-width: 1025px) {
                @include size(auto, 100%);
                // @include pos($b: 50%, $l: 50%);
                // transform: translateX(-50%) translateY(50%);
                // @include size(125%, auto);
            }
        }
    }
    .price {
        font-size: 14px;
        line-height: 26px;
        color: #423C3A;
        //background: #FFFFFF;
        overflow: hidden;
        width: 100%;
        background: transparent;
        text-align: center;
        @media (min-width: 1025px) {
            background: #423C3A;
            font-family: Bellota Text;
            font-style: normal;
            //font-weight: bold;
        }
        @media (min-width: 1200px) {
            font-size: 16px;
            line-height: 22px;
        }
        @media (min-width: 1450px) {
            font-size: 18px;
            line-height: 28px;
        }
        @media (min-width: 1650px) {
            font-size: 24px;
            line-height: 38px;
        }
        tr {
            display: grid;
            grid-template-columns: 40% 20% 40%;
            grid-gap: 2px;
            margin: 0 0 2px;
            &:last-child {
                margin: 0 0 -2px;
            }
        }
        th {
            font-weight: bold;
            font-size: 14px;
            background: #FFF3A6;
            text-align: left;
            padding: 0 0 0 5px;
            text-align: center;
            font-family: Bellota Text;
            font-style: normal;
            font-weight: bold;
            @media (min-width: 1025px) {}
            @media (min-width: 1200px) {
                font-size: 16px;
                line-height: 22px;
            }
            @media (min-width: 1450px) {
                font-size: 18px;
                line-height: 28px;
            }
            @media (min-width: 1650px) {
                font-size: 24px;
                line-height: 38px;
            }
        }
        td {
            margin: 0;
            padding: 0 0 0 5px;
            background: #FFF3A6;
        }
    }
}

// .photo {
//     margin: 20px 0 40px 0;
//     height: 260px;
//     position: relative;
//     overflow: hidden;
//     @media (min-width: 1025px) {
//         grid-row: 1/2;
//         grid-column: 2/3;
//         height: 600px;
//         margin: 20px 50px;
//     }
//     .img {
//         @include size(100%, auto);
//         @media (min-width: 1025px) {
//             @include pos($b: 50%, $l: 50%);
//             transform: translateX(-50%) translateY(50%);
//             @include size(115%, auto);
//         }
//     }
// }