.apartments-header {
    background: #F5F5F4;
    padding-bottom: 40px;
    .mobile-logo {
        top: 100px;
        @media (max-width: 576px) {
            top: 60px;
        }
        @media (max-width: 768px) and (orientation: landscape) {
            top: 100px;
        }
        &__icon {
            fill: #423C3A;
        }
    }
    .title {
        font-size: 36px;
        margin: 140px 0 20px;
        @media (min-width: 1200px) {
            font-size: 64px;
            line-height: 78px;
            margin: 60px 0 20px;
        }
    }
    .headline {
        margin: 0 0 0 2px;
        @media (min-width: 1200px) {
            font-size: 19px;
            line-height: 23px;
        }
    }
}

.apartments-body {
    section {
        background: #F5F5F4;
    }
}

.apartments-list {
    .arrow-btn {
        color: #423C3A;
        margin-bottom: 40px;
        &:hover {
            .arrow-btn__text {
                color: #828282;
            }
        }
    }
}

.apartments-wrap {
    background: #f5f5f4;
}

.apartments-content {
    padding-bottom: 0;
    overflow: hidden;
    .container {
        background: #f5f5f4;
        padding: 0 30px;
        height: 80vh;
        @media (min-width: 1025px) {
            padding: 0 20px 30px;
        }
    }
    iframe {
        display: none;
    }
    .arrow-btn {
        color: #423C3A;
        margin-bottom: 50px;
        &__text {
            line-height: 40px;
        }
        &__icon {
            &:after {
                top: 0;
                transform: none;
            }
        }
        .icon {
            //top: 0;
            width: 11px;
        }
    }
}

.chess_iframe {
    background: #F5F5F4 !important;
    position: absolute !important;
    top: calc(22vh + 80px)!important;
    right: unset !important;
    left: 0 !important;
    bottom: unset !important;
    max-width: 100% !important;
    z-index: 7 !important;
    margin: 0 !important;
    left: 0 !important;
    top: calc(25vh + 80px)!important;
    width: 100% !important;
    @media (min-width: 1025px) {
        padding: 0 190px 80px !important;
        width: 100% !important;
        height: 100vh !important;
        //left: 0 !important;
    }
}

.chess-wrapper {}

.chess_close_btn {
    display: none !important;
}