.apartments-header {
    background: #F5F5F4;
    padding-bottom: 40px;
    .mobile-logo {
        top: 100px;
        @media (max-width: 576px) {
            top: 60px;
        }
        @media (max-width: 768px) and (orientation: landscape) {
            top: 100px;
        }
        &__icon {
            fill: #423C3A;
        }
    }
    .title {
        font-size: 36px;
        margin: 120px 0 20px;
        @media (min-width: 1200px) {
            font-size: 64px;
            line-height: 78px;
            margin: 60px 0 20px;
        }
    }
    .headline {
        margin: 0 0 0 2px;
        @media (min-width: 1200px) {
            font-size: 19px;
            line-height: 23px;
        }
    }
}

.apartments-content {
    background: #F5F5F4;
    padding-bottom: 0;
    overflow: hidden;
    .container {
        padding: 0 30px;
        height: 80vh;
        @media (min-width: 1025px) {
            padding: 0 20px 30px;
        }
    }
    iframe {
        display: none;
    }
    .arrow-btn {
        color: #423C3A;
        &__text {
            line-height: 40px;
        }
        &__icon {
            &:after {
                top: 0;
            }
        }
        .icon {
            top: 11px;
        }
    }
}

.chess_iframe {
    position: absolute !important;
    top: calc(22vh + 80px)!important;
    right: unset !important;
    left: 200px !important;
    margin: 0 20px !important;
    bottom: unset !important;
    max-width: 1250px !important;
    height: 75vh !important;
    z-index: 7 !important;
    @media (max-width: 1366px) {
        width: 960px !important;
        left: 200px !important;
        height: 75vh !important;
    }
    @media (max-width: 1024px) {
        width: 756px !important;
        //left: 10vw !important;
    }
    @media (max-width: 960px) {
        width: 680px !important;
    }
    @media (max-width: 768px) {}
    @media (max-width: 576px) {
        left: 0 !important;
        top: calc(25vh + 80px)!important;
        width: 100% !important;
    }
}

.chess-wrapper {}

.chess_close_btn {
    // position: absolute !important;
    // top: 37vh !important;
    // left: calc(17vw + 1150px) !important;
    display: none !important;
}