.objects {
    background: $page-bg;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    .container {
        position: relative;
    }
    .headline {
        line-height: 37px;
        border-color: #FFFFFF;
    }
    &-slider {
        margin: 0 -15px;
    }
    &-tile {
        display: flex !important; //hack for Slick Slider
        justify-content: space-between;
        margin: 0 15px;
    }
    &-tile__info {
        display: flex;
        flex-direction: column;
        width: 47%;
        margin: 0 1rem 0 0;
    }
    &-tile__headline {
        color: $link-default;
        font-size: 36px;
        line-height: 44px;
        margin: 0 0 45px 0;
    }
    &-tile__text {
        font-weight: 300;
        font-size: 1.3;
        line-height: 30px;
        margin: 0 0 50px 0;
    }
    &-tile__links {
        //font-size: 1rem;
        .arrow-btn:first-child {
            margin: 0 0 50px 0;
        }
    }
    &-tile__illustration {
        width: 47%;
        background: $page-darken-bg;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &-tile__img {
        width: 100%;
        height: auto;
    }
    &-tile__icons {
        display: flex;
        padding: 1rem 1rem 1rem 1rem;
        height: 30%;
    }
    &-tile__icon {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 19px;
        padding: 1rem;
        width: 33%;
        svg {
            @include size(95px);
            fill: transparent;
        }
    }
    //SLICK SLIDER START
    &-slider__icon {
        @include pos($t: 50%, $r: -100px);
        top: calc(50% - 52px);
        transform: rotate(180deg);
        z-index: 3;
    }
    .slick-arrow.slick-prev {
        display: none !important;
    }
    .slick-next {
        top: calc( 50% - 52.5px);
        transform: rotate(180deg);
        right: -90px;
    }
    .slick-arrow {
        @include size(65px, 105px);
        font-size: 50px;
        fill: #FFF3A6;
        cursor: pointer;
        transition: all .3s;
        &:hover {
            fill: #FFFFFF;
        }
        &:before {
            content: '';
            @include size(45px, 85px);
            font-size: 50px;
        }
    }
    //SLICK SLIDER END
}