.about {
    @media (max-width: 576px) {
        padding: 30px 10px;
        //margin: 0 0 10px 2px;
    }
    .headline {
        @media (max-width: 1024px) {
            line-height: 37px;
        }
        @media (max-width: 576px) {
            line-height: 20px;
            margin: 0 0 10px 2px;
        }
        @media (min-width: 768px) and (orientation: portrait) {
            line-height: 20px;
            margin: 0 0 10px 2px;
        }
    }
    &-slider {
        position: relative;
        grid-column: 2 / 12;
        align-items: center;
        @media (max-width: 576px) {
            grid-column: 1 / 13;
        }
        &__btn {
            grid-row: 3 / 4;
            align-self: center;
            fill: #423C3A;
            transition: all .3s;
            &:hover {
                fill: #514947;
            }
            @media (max-width: 576px) {
                display: none !important;
            }
            @media (max-width: 812px) and (orientation: landscape) {
                display: none !important;
            }
        }
        &__prev {
            grid-column: 1 / 2;
            justify-self: flex-start;
        }
        &__next {
            grid-column: 12 / 13;
            transform: rotate(180deg);
            justify-self: flex-end;
        }
    }
    &-tile {
        width: 400px;
        height: 400px;
        padding: 1rem;
        display: flex !important; //hack for Slick Slider
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        text-align: center;
        transition: all .5s;
        @media (max-width: 576px) {
            height: unset;
        }
        &__icon {
            display: flex;
            align-items: center;
            justify-content: center;
            @include size(150px);
            background: $page-bg;
            margin-bottom: 45px;
            border-radius: 50%;
        }
        &__head {
            font-size: 1.8em;
            margin-bottom: 30px;
            text-transform: uppercase;
            text-align: center;
            flex-grow: 2;
            @media (max-width: 576px) {
                font-size: 24px;
                line-height: 29px
            }
            @media (max-width: 1366px) {
                font-size: 24px;
                line-height: 29px
            }
            @media (max-width: 812px) and (orientation: landscape) {
                margin: 0;
                font-size: 1.5em;
            }
        }
        &__text {
            font-size: 1.25rem;
            flex-grow: 2;
            @media (max-width: 576px) {
                font-size: 19px;
                line-height: 24px
            }
            @media (max-width: 1366px) {
                font-size: 19px;
                line-height: 24px
            }
            @media (max-width: 812px) and (orientation: landscape) {
                font-size: 1.1em;
            }
        }
    }
    &-icon {
        @include size(100px);
        fill: #FFF3A6;
    }
    &-btn {
        grid-column: 1 / 13;
        margin-top: 100px;
        padding: 0 0 0 1rem;
        @media (max-width: 1366px) {
            margin-top: 50px;
        }
        @media (max-width: 576px) {
            grid-column: 2 / 12;
            left: -2px;
            margin: 0;
        }
        @media (max-width: 812px) and (orientation: landscape) {
            grid-column: 4 / 9;
            left: -2px;
        }
        .arrow-btn {
            .icon {
                left: 15px;
                transform: rotate(0);
                width: 45px;
                @media (max-width: 576px) {
                    left: -2px;
                }
                @media (max-width: 812px) and (orientation: landscape) {
                    left: -2px;
                }
            }
        }
    }
    //SLICK SLIDER 
    .slick-prev {
        left: -90px;
        fill: #423C3A;
        cursor: pointer;
        transition: all .3s;
        &:hover {
            fill: #626262;
        }
    }
    .slick-next {
        top: calc( 50% - 52.5px);
        transform: rotate(180deg);
        right: -90px;
    }
    .slick-arrow {
        @include size(65px, 105px);
        font-size: 50px;
        //background: url(/images/icons/arrow.svg) 60% no-repeat;
        cursor: pointer;
        &:before {
            content: '';
            @include size(45px, 85px);
            font-size: 50px;
        }
        @media (max-width: 576px) {
            display: none !important;
        }
        fill: #423C3A;
        cursor: pointer;
        transition: all .3s;
        &:hover {
            fill: #626262;
        }
    }
}