.articles {
    position: relative;
    overflow: hidden;
    color: $tw;
    padding: 0;
    .container {
        position: relative;
        @include size(100%);
    }
    &-content {
        @include pos($t: 0, $l: 0);
        padding: 100px 0 50px 0;
        @include size(100%);
        pointer-events: none;
        .grid {
            grid-template-rows: auto auto 1fr auto;
            @include size(100%);
        }
    }
    .headline {
        grid-column: 1/13;
        grid-row: 1/2;
        border-color: $tw;
        z-index: 2;
    }
    .title {
        grid-column: 1/13;
        grid-row: 2/3;
        z-index: 2;
    }
    &-slider {
        grid-column: 1/13;
        grid-row: 3/4;
        top: 0;
        left: 0;
    }
    &-tile {
        position: relative;
        padding: 420px 0 300px 0;
        @media (max-width: 1366px) {
            padding: 290px 0 200px 0;
        }
    }
    &-tile__title {
        font-family: Century Gothic;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 29px;
        margin: 0 0 30px;
        grid-column: 1/7;
        position: relative;
        z-index: 5;
        @media (max-width: 576px) {
            font-size: 16px;
            line-height: 20px;
            grid-column: 1/13;
        }
    }
    &-tile__text {
        font-family: Bellota Text;
        font-style: normal;
        font-weight: 300;
        font-size: 24px;
        line-height: 30px;
        margin: 0 0 80px;
        grid-column: 1/11;
        @media (max-width: 576px) {
            font-size: 16px;
            line-height: 20px;
            grid-column: 1/13;
        }
    }
    &-tile__img {
        position: absolute;
        top: -15px;
        left: -3px;
        // right: 0;
        // bottom: 0;
        @include size(105%);
        z-index: -1;
    }
    .arrow-btn {
        pointer-events: visible;
        grid-column: 1/6;
        grid-row: 4/5;
        @media (max-width: 576px) {
            grid-column: 1/13;
        }
    }
    //SLICK SLIDER
    .slick-prev {
        display: none !important;
    }
    &-slider__icon {
        position: absolute;
        z-index: 2;
        top: calc( 50% - 52.5px);
        right: 25px;
        transform: rotate(180deg);
        fill: #FFF3A6;
        transition: all .3s;
        &:hover {
            fill: #FFFFFF;
        }
        @media (max-width: 576px) {
            display: none;
        }
    }
    .slick-arrow {
        pointer-events: visible;
        @include size(65px, 105px);
        font-size: 50px;
        //background: url(/images/icons/arrow.svg) 60% no-repeat;
        cursor: pointer;
        &:before {
            content: '';
            @include size(45px, 85px);
            font-size: 50px;
        }
    }
}