.apartments {
    position: relative;
    height: 1150px;
    @media (max-width: 576px) {
        height: 1050px;
    }
    @media (max-width: 812px) and (orientation: landscape) {
        height: 830px;
    }
    .container {
        height: 100%;
        position: relative;
        overflow: hidden;
    }
    .headline {
        line-height: 20px;
        margin: 0 0 20px 2px;
        @media (min-width: 1024px) {
            line-height: 37px;
        }
    }
    .title {
        font-size: 36px;
        line-height: 44px;
        margin-bottom: 10px;
        @media (min-width: 1024px) {
            font-size: 52px;
            margin-bottom: 10px;
            text-shadow: 1px 1px 2px #f5f5f4;
        }
    }
    &-head {
        z-index: 5;
        grid-column: 1/7;
        grid-column: 1/13;
        @media (min-width: 1024px) {
            grid-column: 1/6;
        }
    }
    .arrow-btn {
        @include pos($b: 50px, $l: 0);
        width: 36%;
        @media (max-width: 576px) {
            @include pos($b: 0, $l: 50%);
            transform: translateX(-50%);
            width: 80%;
        }
        @media (max-width: 812px) and (orientation: landscape) {
            @include pos($b: 30px, $l: 20px);
        }
    }
    &-slider {
        display: flex;
        justify-content: space-between;
    }
    &-slider {
        &__nextbtn {
            @include pos($r: 13px, $t: 50%);
            z-index: 3;
            fill: #FFF3A6;
            transform: translateX(50%) rotate(180deg);
            @media (min-width: 1024px) {
                @include pos($r: 35px, $t: 50%);
            }
        }
        &__prevbtn {
            @include pos($l: 8px, $t: 50%);
            z-index: 3;
            fill: #FFF3A6;
            @media (min-width: 1024px) {
                @include pos($l: 33%, $t: 50%);
            }
        }
        &__wrap {
            @include pos($t: 210px, $r: 50%);
            transform: translateX(50%);
            width: calc(100% - 40px);
            &:before {
                display: none;
            }
            &:after {
                display: none;
            }
            @media (min-width: 576px) {
                @include pos($t: 210px, $r: 50%);
                transform: translateX(50%);
                width: 80%;
                //left: 50%;
                // transform: translateX(-50%);
            }
            @media (min-width: 768px) {
                @include pos($t: 210px, $r: 50%);
                transform: translateX(50%);
                width: 50%;
                //left: 50%;
                //transform: translateX(-50%);
            }
            @media (min-width: 1024px) {
                transform: translateX(0);
                @include pos($t: 100px, $r: 0);
                width: 55vw;
                &:after {
                    content: '';
                    display: block;
                    @include pos($t: 0, $r: -2px);
                    @include size(400px, 100%);
                    transform: rotate(180deg);
                    background: linear-gradient(90deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 21.79%);
                    z-index: 2;
                }
            }
        }
    }
    &-tile {
        margin: 0 .25rem;
        background: linear-gradient(270deg, rgba(66, 60, 58, 0.33) -20.49%, #423C3A -20.49%, rgba(255, 255, 255, 0) 18.52%), linear-gradient(90deg, rgba(66, 60, 58, 0.33) -12.06%, rgba(255, 255, 255, 0) 25.73%), $page-darken-bg;
        text-align: center;
        color: $tw;
        display: grid !important;
        min-width: 196px;
        &__name {
            padding: 15px 0 5px;
            height: auto;
            padding: 25px 0 0;
            grid-row: 1/2;
            grid-column: 1/13;
            @media (min-width: 1024px) {
                padding: 25px 0;
                font-size: 36px;
                line-height: 44px;
                height: 100px;
                justify-self: center;
                align-self: center;
            }
        }
        &__img {
            width: 100%;
            height: 370px;
            overflow: hidden;
            position: relative;
            grid-row: 2/3;
            grid-column: 1/13;
            &:before {
                content: '';
                @include pos($b: -1px, $l: 0);
                @include size(100%, 16px);
                background: #423C3A;
            }
            // @media (max-width: 812px) and (orientation: landscape) {
            //     grid-row: 2/5;
            //     grid-column: 1/7;
            //     justify-self: center;
            //     align-self: center;
            //     height: 260px;
            //     margin: 15px;
            // }
            img {
                min-height: 100%;
                width: 100%;
                @media (max-width: 576px) {
                    min-height: calc(100% - 30px);
                    width: calc(100% - 30px);
                    margin: 15px;
                }
                @media (max-width: 812px) and (orientation: landscape) {
                    min-height: calc(80% - 30px);
                    //width: calc(80% - 30px);
                    margin: 15px;
                }
            }
        }
        &__icon {
            grid-row: 3/4;
            grid-column: 1/13;
            margin: 50px 0;
            @media (max-width: 576px) {
                margin: 15px 0;
            }
            svg {
                @include size(85px);
            }
        }
        &__svg {
            fill: transparent;
        }
        &__title {
            margin-bottom: 35px;
            font-size: 30px;
            line-height: 44px;
            text-align: center;
            padding: 0 .25rem;
            grid-row: 4/5;
            grid-column: 1/13;
            @media (max-width: 576px) {
                font-size: 24px;
                line-height: 29px;
                width: 75%;
                justify-self: center;
            }
        }
        &__link {
            @media (max-width: 576px) {
                font-size: 16px;
                line-height: 20px;
                margin: 0 0 40px;
                width: 75%;
                justify-self: center;
            }
            grid-row: 5/6;
            grid-column: 1/13;
            margin-bottom: 50px;
            text-transform: uppercase;
            font-size: 22px;
            line-height: 29px;
            text-align: center;
            padding: 0 1.25rem;
            display: block;
        }
        @media (max-width: 1366px) {
            &__name {
                font-size: 24px;
            }
            &__title {
                font-size: 24px;
            }
            &__link {
                font-size: 16px;
            }
        }
    }
    //SLIDER BUTTON
    .slick-arrow.slick-prev {
        // display: none !important;
    }
    .slick-arrow {
        @include size(65px, 105px);
        @media (max-width: 576px) {
            @include size(13px, 24px);
        }
        font-size: 50px;
        //background: url(/images/icons/arrow.svg) 60% no-repeat;
        cursor: pointer;
        &:before {
            content: '';
            @include size(45px, 85px);
            font-size: 50px;
        }
        //fill: #423C3A;
        cursor: pointer;
        transition: all .3s;
        &:hover {
            fill: #828282;
        }
    }
}