    .sidebar {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 5;
        mix-blend-mode: normal;
        background: rgba(0, 0, 0, 0);
        mix-blend-mode: difference;
        &-content {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 50px 40px 27vh;
            height: 100vh;
            color: #ffffff;
            z-index: 5;
            background: inherit;
            mix-blend-mode: exclusion;
            transition: all .3s;
        }
        &-logo {
            height: 130px;
            cursor: pointer;
            &__icon {
                @include size(130px);
                fill: #FFFFFF;
                &:hover {
                    fill: $link-default;
                }
            }
        }
        &-lang {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.25em;
            height: 100px;
            position: relative;
            &:after {
                content: '';
                @include pos($t: 50%, $l: 50%);
                width: 2px;
                height: 24px;
                background: #FFFFFF;
                transform: translateY(-50%);
            }
            &__link {
                padding: 0 .5rem;
            }
            .link--active {
                text-decoration: underline;
            }
        }
        &-menu {
            //@include size(80px, 400px);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            flex-grow: 2;
            &__triger {
                @include size(100%, 80px);
                cursor: pointer;
                color: rgb(255, 255, 255);
                background: inherit;
                transform: rotate(270deg);
                font-size: 19px;
                text-transform: uppercase;
                letter-spacing: 1px;
                font-weight: 100;
                transition: all .3s;
                font-family: $df;
                text-align: center;
                line-height: 80px;
                &:hover {
                    color: $link-default;
                }
            }
        }
        &-icons {
            @include pos($b: 100px, $l: 70px);
            display: flex;
            flex-direction: column;
            &__icon {
                width: 65px;
                height: 60px;
                fill: #ffffff;
                transition: all .3s;
                margin-bottom: 1em;
                &:hover {
                    fill: $button-default-color;
                }
            }
            .icon--email {
                fill: transparent;
                use {
                    stroke: #FFFFFF;
                }
                &:hover {
                    use {
                        stroke: $button-default-color;
                    }
                }
            }
        }
    }
    
    .menu {
        @include pos($t: 0, $l: 0);
        // position: relative;
        @include size(40rem, 100vh);
        z-index: 1;
        padding: 50px 0;
        transition: all .3s;
        display: block;
        position: fixed;
        z-index: 3;
        background: $page-bg;
        &:after {
            content: '';
            @include pos($t: 0, $l: 40rem);
            @include size(calc(100vw - 40rem), 100vh);
            position: fixed;
            z-index: 9;
            background: rgba(66, 60, 58, 0.7);
            pointer-events: none;
            transition: all .3s;
        }
        &-item {
            padding: 1rem 0;
            font-size: 1.5rem;
            text-transform: uppercase;
        }
        &-top {
            @include pos($t: 7.5rem, $l: 17rem);
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        &-footer {
            @include pos($b: 140px, $l: 17rem);
            @media (max-width: 1024px) {
                top: 30rem;
            }
            @media (max-width: 768) {
                top: 30rem;
            }
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        &--opacity {
            opacity: 0;
        }
        &--is-hide {
            display: none;
        }
    }
    
    .hide {
        @include pos($t: 0, $l: -40rem);
    }
    
    // @media (max-width: 1200px) {
    //     font-size: 16px;
    // }
    // @media (max-width: 1024px) {
    //     font-size: 12px;
    // }
    // @media (max-width: 768px) {
    //     font-size: 10px;
    // }