<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="description" content="Starter")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Angro
        link(rel="icon" href="images/favicon.png")
        <!--build:css css/styles.min.css-->
        link(rel="stylesheet" href="css/libs/aos.css")
        link(rel="stylesheet" href="css/libs/slick.css")
        link(rel="stylesheet" href="css/libs/slick-theme.css")
        link(rel="stylesheet" href="css/global.min.css")
        <!--endbuild-->
        <!--[if lt IE 9]>
        script(src="http://html5shiv.googlecode.com/svn/trunk/html5.js")
        <![endif]-->
    body.arcticle-body
        //INFO START 
        include object/object-info.pug
        //INFO END
        //SIDEBAR
        include layout/sidebar.pug
        //SIDEBAR END

        //HEADER START 
        header.article-header
            .container
                .grid
                    //MOBILE LOGO
                    a(href="#").mobile-logo              
                            svg.mobile-logo__icon
                                use(xlink:href="images/main-page_icons-sprite.svg#logo")
                    //MOBILE LOGO END
                    h2.title Статья
                    //h3.headline Важная информация со статьями и новостями от angro
                    a.arrow-btn.arrow-btn--left(href="blog.html")
                        .arrow-btn__icon
                            svg.icon
                                use(xlink:href="images/main-page_icons-sprite.svg#arrow")
                        p.arrow-btn__text Блог

        //HEADER END
        //CONTENT START
        section.article-content
            .container
                .information
                    h3.date 01.04.2020 г.
                    h1.information__headline Стоимость 1 кв.м в ЖК Остров с 01.04.2020
                    img.img.float-right(src="images/article/article-image1.jpg", alt="ЖК 'На Сенной'")
                    h2.text__headlide Цены за квартиры в Жилом комплексе «Остров» по ул. Гоголя-77 на сайте указаны по состоянию на 01 апреля 2020 года
                    table.price
                        tr
                            th Вид квартиры
                            th Этаж 
                            th Стоимость 1 кв.м
                        tr
                            td Однокомнатная
                            td 2,7,8
                            td 11500,00 грн
                        tr
                            td Двухкомнатная
                            td 2,7,8
                            td 11500,00 грн
                        tr
                            td Однокомнатная
                            td 3-6
                            td 12000,00 грн
                        tr
                            td Двухкомнатная
                            td 3-6
                            td 12000,00 грн
                        tr
                            td Трехкомнатная
                            td 9-9+
                            td 10000,00 грн
                        tr
                            td Четырехкомнатная
                            td 9-9+
                            td 10000,00 грн
                    
                    p Строительство жилых домов сопряжено со множеством проблем. Но если безопасность надземной части зданий связана с качеством материалов и человеческим фактором, то подземная их часть подвергается гораздо большему числу рисков. 
                    p Просчитать и предвидеть их все не способен самый мощный компьютер. Поэтому проектирование фундаментов является, пожалуй, самым сложным и ответственным моментом в процессе строительства. От успешного проведения начального этапа работ зависит вся дальнейшая судьба дома и зданий, расположенных по соседству.
                    p Застройщик Жилого комплекса «ОСТРОВ» с полной ответственностью подошел к вопросам проектирования и возведения жилого дома, а особенно к фундаменту, так как рассказы об особенностях строительства соседнего жилого дома по адресу ул. Гоголя, 47/2 ходят по Миргороду с момента возведения этого здания в 80-х годах прошлого века.    
                    img.img.float-left(src="images/article/article-image2.jpg", alt="ЖК 'На Сенной'").img
                
                    p Для оценки фактической ситуации с почвой на месте планируемого строительства в апреле 2017 года были проведены инженерно-геологические изыскания Полтавским филиалом Украинского государственного главного научно-исследовательского и производственного института инженерно-технических и экологических изысканий (ПФ ДП «УКРНДІІНТВ») с бурением и изъятием образцов. По результатам были определены геологические условия на строительном участке.
                    ol
                        li Данные исследования стали основой для проекта фундаментов разработанного главным архитектором проекта Зайцем С.П., который соответствует всем строительным нормам и стандартам.
                        li Строительство фундамента было поручено компании «Фундаментспецбуд» основанной в 1990 году. Начиная с этого времени
                    p С техническим отчетом про несущую способность железобетонных свай по результатам испытаний на участке строительства по ул. Гоголя,77 в Миргороде, Полтавской области все желающие могут ознакомиться в отделе продаж по адресу ул. Победы, 10, оф.1, Миргород или скачав файл по ссылке.
                    img.img.float-right(src="images/article/article-image3.jpg", alt="ЖК 'На Сенной'").img
                    ul
                        li Сначала <strong>«Фундаментспецбуд»</strong> провел статические испытания почвы несколькими железобетонными сваями в разных местах строительного участка, которые подтвердили правильность расчетов и выполнил весь проект в полном объеме без отклонений.
                        li Работая более 20-лет на строительном рынке, компания сформировала самодостаточную производственно техническую базу и накопила широкий производственный опыт. <strong>«Фундаментспецбуд»</strong> выполнил более 1000 проектов на территории Украины и за ее пределами.
                    p Компания специализируется на возведении свайных фундаментов под крупные объекты в обычных и сложных инженерно геологических условиях. Жилой комплекс «Остров» возводится на надежном фундаменте, который обеспечит комфортную жизнь.
                    p С техническим отчетом про несущую способность железобетонных свай по результатам испытаний на участке строительства по ул. Гоголя,77 в Миргороде, Полтавской области все желающие могут ознакомиться в отделе продаж по адресу ул. Победы, 10, оф.1, Миргород или скачав файл по ссылке.                  
                    p Компания специализируется на возведении свайных фундаментов под крупные объекты в обычных и сложных инженерно геологических условиях. Жилой комплекс «Остров» возводится на надежном фундаменте, который обеспечит комфортную жизнь.
                    p С техническим отчетом про несущую способность железобетонных свай по результатам испытаний на участке строительства по ул. Гоголя,77 в Миргороде, Полтавской области все желающие могут ознакомиться в отделе продаж по адресу ул. Победы, 10, оф.1, Миргород или скачав файл по ссылке.
                        
                //- .information__btn
                //-     a.arrow-btn.arrow-btn--left(href="arcticle.html")
                //-         .arrow-btn__icon
                //-             svg.icon
                //-                 use(xlink:href="images/main-page_icons-sprite.svg#arrow")
                //-         p.arrow-btn__text Подробнее

                            
        
        //CONTENT END
        //FOOTER START
        footer.footer
            include layout/footer.pug
        //FOOTER END
        <!-- modal -->
        include object/object-modal.pug
        include layout/modal.pug
        //policy SATRT
        include layout/confidentiality-policy.pug
        //policy END
        <!-- modal end-->                  
        
        <!--build:js js/main.min.js -->
        script(src="js/libs/jquery.min.js")
        script(src="js/libs/jquery-ui.js")
        script(src="js/libs/lightgallery.js")
        script(src="js/libs/aos.js")
        script(src="js/libs/slick.min.js")
        script(src="js/main.js")
        <!--endbuild-->
