<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="description" content="Starter")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Галерея
        link(rel="icon" href="images/favicon.png")
        <!--build:css css/styles.min.css-->
        link(rel="stylesheet" href="css/libs/aos.css")
        link(rel="stylesheet" href="css/libs/slick.css")
        link(rel="stylesheet" href="css/libs/slick-theme.css")
        link(rel="stylesheet" href="css/global.min.css")
        <!--endbuild-->
        <!--[if lt IE 9]>
        script(src="http://html5shiv.googlecode.com/svn/trunk/html5.js")
        <![endif]-->
    body.gallery-body
        //INFO START 
        include object/object-info.pug
        //INFO END
        //SIDEBAR
        include layout/sidebar.pug
        //SIDEBAR END

        //HEADER START 
        header.gallery-header
            .container
                .grid
                    //MOBILE LOGO
                    a(href="#").mobile-logo              
                            svg.mobile-logo__icon
                                use(xlink:href="images/main-page_icons-sprite.svg#logo")
                    //MOBILE LOGO END
                    h2.title Галерея
                    h3.headline Галерея Жилых комплексов angro
        //HEADER END
        //CONTENT START
        section.gallery-list
            .container
                // OBJECT START
                .gallery-list__item
                    .logo
                            svg
                                use(xlink:href="images/main-page_icons-sprite.svg#logo-head")
                            p.logo__text жилой комплекс
                            h2.logo__title На Сенной
                            h4.logo__headline Полтава ул. Сенная, 19
                            a(href="gallery-opened.html").link Смотреть фото 
                    a(href="#").picture
                        img(src="images/objects/object_img1.jpg", alt="ЖК 'На Сенной'")
                        .picture__icon-wrap
                            svg.icon
                                use(xlink:href="images/main-page_icons-sprite.svg#eye")
                // OBJECT END
                // OBJECT START
                .gallery-list__item
                    .logo
                            svg
                                use(xlink:href="images/main-page_icons-sprite.svg#logo-head")
                            p.logo__text жилой комплекс
                            h2.logo__title Остров
                            h4.logo__headline Миргород ул. Гоголя, 77
                            a(href="gallery-opened.html").link Смотреть фото 
                    a(href="#").picture
                        img(src="images/objects/object_img1.jpg", alt="ЖК 'На Сенной'")
                        .picture__icon-wrap
                            svg.icon
                                use(xlink:href="images/main-page_icons-sprite.svg#eye")
                // OBJECT END
                // OBJECT START
                .gallery-list__item
                    .logo
                            svg
                                use(xlink:href="images/main-page_icons-sprite.svg#logo-head")
                            p.logo__text жилой комплекс
                            h2.logo__title Мирного
                            h4.logo__headline Миргород ул. Панаса Мирного, 3
                            a(href="gallery-opened.html").link Смотреть фото 
                    .picture
                        img(src="images/objects/object_img1.jpg", alt="ЖК 'На Сенной'")
                        .picture__icon-wrap
                            svg.icon
                                use(xlink:href="images/main-page_icons-sprite.svg#eye")
                // OBJECT END
                // OBJECT START
                .gallery-list__item
                    .logo
                            svg
                                use(xlink:href="images/main-page_icons-sprite.svg#logo-head")
                            p.logo__text жилой комплекс
                            h2.logo__title Победы
                            h4.logo__headline Миргород ул. Победы, 10
                            a(href="gallery-opened.html").link Смотреть фото 
                    a(href="#").picture
                        img(src="images/objects/object_img1.jpg", alt="ЖК 'На Сенной'")
                        .picture__icon-wrap
                            svg.icon
                                use(xlink:href="images/main-page_icons-sprite.svg#eye")
                // OBJECT END
            <div class="container pagination">
                <span aria-current="page" class="page-numbers current">1</span>
                <a class="page-numbers" href="http://1test.website/gallery/page/2/">2</a>
                <a class="next page-numbers" href="http://1test.website/gallery/page/2/">Далее →</a>
            </div>


        
        //CONTENT END
        //FOOTER START
        footer.footer
            include layout/footer.pug
        //FOOTER END
        <!-- modal -->
        include object/object-modal.pug
        include layout/modal.pug
        //policy SATRT
        include layout/confidentiality-policy.pug
        //policy END
        <!-- modal end-->                  
        
        <!--build:js js/main.min.js -->
        script(src="js/libs/jquery.min.js")
        script(src="js/libs/jquery-ui.js")
        script(src="js/libs/lightgallery-all.min.js")
        script(src="js/libs/slick.min.js")
        script(src="js/libs/aos.js")
        script(src="js/main.js")
        <!--endbuild-->