<!DOCTYPE html>
html(lang="en")
    include layout/head.pug
    body
        //PRELOADER START
        //- .preloader
        //-     .wrap
        //-         .icon
        //-             svg.logo
        //-                 use(xlink:href="images/main-page_icons-sprite.svg#preloder_logo")
        //-             span.logo__top
        //-             span.logo__bottom
        //PRELOADER END
        //POPUP START
        include layout/info.pug
        //POPUP END
        
        //SIDEBAR
        include layout/sidebar.pug
        //SIDEBAR END

        //HEADER START 
        header#header.header 
            .header-content
                //MOBILE LOGO
                a(href="#").mobile-logo              
                        svg.mobile-logo__icon
                            use(xlink:href="images/main-page_icons-sprite.svg#logo")
                //MOBILE LOGO END
                h1(data-aos="fade-left" data-aos-delay="1750" data-aos-duration="1500").header-content__title Современное <br> жилье в Полтаве и <br> Миргороде
                p(data-aos="fade-right" data-aos-delay="1750" data-aos-duration="1500").header-content__text Новые квартиры от застройщика в престижном <br> районе Полтавы и Миргорода

                a.arrow-btn(href="#about")
                    .arrow-btn__icon
                        svg.icon
                            use(xlink:href="images/main-page_icons-sprite.svg#arrow")
                    p.arrow-btn__text Прокрутить вниз
        //HEADER END
        section#about.about
            include layout/section-about.pug
        section#objects.objects
            include layout/section-objects.pug
        section#articles.articles
            include layout/section-articles.pug
        section#apartments.apartments
            include layout/section-apartments.pug
        section#info.contact
            include layout/section-contact.pug
        //FOOTER START
        footer.footer
            include layout/footer.pug
        //FOOTER END
    
        <!-- modal -->
        include layout/modal.pug
        include layout/modal-video.pug
        //policy SATRT
        include layout/confidentiality-policy.pug
        //policy END
        <!-- modal end-->                  
        
        <!--build:js js/main.min.js -->
        script(src="js/libs/jquery.min.js")
        script(src="js/libs/jquery-ui.js")
        script(src="js/libs/lightgallery-all.min.js")
        script(src="js/libs/slick.min.js")
        script(src="js/libs/aos.js")
        script(src="js/main.js")
        <!--endbuild-->
