.container
    .grid
        .footer-address
            h5.footer-address__title Наши офисы
            a(href="#").footer-link г.Полтава, ул. А.Кукоби, 12
            a(href="#").footer-link г.Миргород, ул.Победы,10, оф.1
            a(href="#").footer-link Время работы: 9:00 – 18:00
        
        .footer-logo
            a(href="#").link 
                svg
                    use(xlink:href="images/main-page_icons-sprite.svg#logo")
        
        .footer-contacts
            //-h5.footer-contacts__title Наши офисы
            a(href="mailto:angrobud@gmail.com").footer-link  angrobud@gmail.com
            a(href="tel:+380509915883").footer-link +38(050) 991-58-83
            a(href="tel:+380509915883").footer-link +38(050) 991-58-82
        .footer-newsletter
            //FORM START
            form(action="").footer-newsletter__form
                h5.footer-newsletter__headline Будьте в курсе спецпредложений   
                label( for="newsletter").footer-newsletter__title Ваш e-mail
                input#newsletter(type="text").footer-newsletter__field
                button.btn.footer-newsletter__btn Хочу быть в курсе!
            //FORM END          
        a.arrow-btn.footer-btn(href="#")
            .arrow-btn__icon
                svg.icon
                    use(xlink:href="images/main-page_icons-sprite.svg#arrow")
            p.arrow-btn__text Вверх
        .footer-backcall
            p.footer-backcall__title Мы предоставляем бесплатные консультации!
            a.btn Закажите звонок!
        .footer-social
            h6.footer-social__title МЫ В СОЦСЕТЯХ
            .footer-social__icons
                a(href="#").footer-social__link
                    .svg-wrap
                        svg
                            use(xlink:href="images/main-page_icons-sprite.svg#facebook icon")
                a(href="#").footer-social__link
                    .svg-wrap
                        svg
                            use(xlink:href="images/main-page_icons-sprite.svg#telegram")
                a(href="#").footer-social__link
                    .svg-wrap
                        svg
                            use(xlink:href="images/main-page_icons-sprite.svg#insta icon")
        p.footer-copyright © 2020. www.angro.com.ua