.container
    .footer-content.grid
        .address
            h5 Наши офисы
            a(href="#").link.link--footer г.Полтава, ул. А.Кукоби, 12
            a(href="#").link.link--footer г.Миргород, ул.Победы,10, оф.1
            a(href="#").link.link--footer Время работы: 9:00 – 18:00
        
        .link-logo
            a(href="#").link 
                svg 
                    use(xlink:href="images/main-page_icons-sprite.svg#logo")
        
        .contacts
            h5 Наши офисы
            a(href="mailto:angrobud@gmail.com").link.link--footer  angrobud@gmail.com
            a(href="tel=+380509915883").link.link--footer +38(050) 991-58-83
            a(href="tel=+380509915883").link.link--footer +38(050) 991-58-82
        .newsletter
            
                form(action="")
                fieldset
                    legend Будьте в курсе спецпредложений 
                .text-wrap
                    label( for="newsletter") Ваш e-mail
                        input#newsletter(type="text")
                    button.submit Хочу быть в курсе!
            
        a(href="#header").link.sm-button
            .svg-wrap
                svg
                    use(xlink:href="images/main-page_icons-sprite.svg#arrow")
            p Вверх
        .backcall
            p Мы предоставляем бесплатные консультации!
            a.submit Закажите звонок!
        .social
            h6 МЫ В СОЦСЕТЯХ
            .icon-wrap
                a(href="#header").link
                    .svg-wrap
                        svg
                            use(xlink:href="images/main-page_icons-sprite.svg#facebook icon")
                a(href="#header").link
                    .svg-wrap
                        svg
                            use(xlink:href="images/main-page_icons-sprite.svg#telegram")
                a(href="#header").link
                    .svg-wrap
                        svg
                            use(xlink:href="images/main-page_icons-sprite.svg#insta icon")
        p.copyright © 2020. www.angro.com.ua