
.info(data-aos="fade-down" 
        data-aos-anchor="#about"
        data-aos-easing="linear" 
        data-aos-duration="400"
        data-aos-anchor-placement="bottom")
    .info-block.info-left
        a(href="tel:+380506347178").info-text +38(050) 634 71 78
        p.open-modal.info-link.link--active Заказать звонок
    a.info-block.info-right
        svg.info-icon
            use(xlink:href="images/main-page_icons-sprite.svg#apartament")
        p.info-link Выбрать<br>квартиру
