
.info(data-aos="fade-down" 
        data-aos-anchor="#about"
        data-aos-easing="linear" 
        data-aos-duration="400"
        data-aos-anchor-placement="bottom")
    .link
        a(href="tel:+380506347178").top +38(050) 634 71 78
        p.bottom.active Заказать звонок
    a.link
        svg.top
            use(xlink:href="images/main-page_icons-sprite.svg#apartament")
        p.bottom Выбрать<br>квартиру
