
.info(data-aos="fade-down" 
        data-aos-anchor="#about"
        data-aos-easing="linear" 
        data-aos-duration="400"
        data-aos-anchor-placement="bottom")
    a.link
        p.top +38(050) 634 71 78
        p.bottom.active(href="tel:+38(050)-634-71-78") Заказать звонок
    a.link
        svg.top
            use(xlink:href="#apartament")
        p.bottom Выбрать<br>квартиру
