.container
        form(action="").grid.contact-form
            h4.contact-form__headline С удовольствием проконсультируем Вас!
            label( for="username").contact-form__title Ваше имя
                input#username(type="text" required).contact-form__field
            label( for="tel" ).contact-form__title Телефон
                input#tel(type="tel" required ).contact-form__field
            label( for="email").contact-form__title EMAIL (НЕ ОБЯЗАТЕЛЬНО)
                input#email(type="email").contact-form__field
            label( for="check").contact-form__checkbox.contact-form__title Я даю согласие на обработку моих персональных данных согласно 
                input#check(type="checkbox").contact-form__field 
                .contact-form__custom-check
                a(href="#").contact-form__link политике конфиденциальности 
            button(type="submit").btn.contact-form__btn Отправить запрос