.container
    .grid
        .head-wrap
            h3.headline Только лучшее для амбициозных и успешных
            h2.title Квартиры в новостройках
        .apartments-slider
            .slide
                .slide__name ЖК "Остров"
                .slide__img
                    img(src="images/object_img1.jpg")
                .slide__icon
                    svg
                        use(xlink:href="#castle")
                .slide__title Выразительная архитектура
                .slide__link.link Смотреть квартиры объекта
            .slide
                .slide__name ЖК "Мирного"
                .slide__img
                    img(src="images/object_img1.jpg")
                .slide__icon
                    svg
                        use(xlink:href="#castle")
                .slide__title Транспортная доступность
                .slide__link.link Смотреть квартиры объекта
            .slide
                .slide__name ЖК "Победы"
                .slide__img
                    img(src="images/object_img1.jpg")
                .slide__icon
                    svg
                        use(xlink:href="#castle")
                .slide__title Развитая ифраструктура 
                .slide__link.link Смотреть квартиры объекта
            .slide
                .slide__name ЖК "Остров"
                .slide__img
                    img(src="images/object_img1.jpg")
                .slide__icon
                    svg
                        use(xlink:href="#castle")
                .slide__title Выразительная архитектура
                .slide__link.link Смотреть квартиры объекта
            .slide
                .slide__name ЖК "Мирного"
                .slide__img
                    img(src="images/object_img1.jpg")
                .slide__icon
                    svg
                        use(xlink:href="#castle")
                .slide__title Транспортная доступность
                .slide__link.link Смотреть квартиры объекта
            .slide
                .slide__name ЖК "Победы"
                .slide__img
                    img(src="images/object_img1.jpg")
                .slide__icon
                    svg
                        use(xlink:href="#castle")
                .slide__title Развитая ифраструктура 
                .slide__link.link Смотреть квартиры объекта