
.sidebar
    .sidebar-content
        // LOGO START  
        a(href="#").sidebar-logo              
            svg.sidebar-logo__icon
                use(xlink:href="images/main-page_icons-sprite.svg#logo")
        // LOGO END 
        // LANG SELECT START
        .sidebar-lang
            a.sidebar-lang__link.link--active(href="#") UA
            a.sidebar-lang__link(href="#") RU
        // LANG SELECT END
        .sidebar-menu
            .sidebar-menu__triger Меню
        .sidebar-icons
            a.sidebar-icons__item(href="#")
                svg.sidebar-icons__icon
                    use(xlink:href="images/main-page_icons-sprite.svg#apartament")
            a.sidebar-icons__item(href="#")
                svg.sidebar-icons__icon.icon--phone
                    use(xlink:href="images/main-page_icons-sprite.svg#phone")
            a.sidebar-icons__item(href="#")
                svg.sidebar-icons__icon.icon--email
                    use(xlink:href="images/main-page_icons-sprite.svg#email")


.menu
    ul.menu-top      
        li.menu-item
            a.link--active(href="#") Главная
        li.menu-item
            a(href="#") Объекты
        li.menu-item
            a(href="#") Квартиры
        li.menu-item
            a(href="#") Галерея
        li.menu-item
            a(href="#") Блог
    //MOBILE LANG
    .mobile-menu__lang
        a.mobile-menu__link.link--active(href="#") UA
        a.mobile-menu__link(href="#") RU
    //MOBILE LANG END
    //MOBILE LOGO
    a(href="#").mobile-logo              
            svg.mobile-logo__icon
                use(xlink:href="images/main-page_icons-sprite.svg#logo")
    //MOBILE LOGO END
    .menu-info
        a(href="#").menu-info__item
                svg.menu-info__icon
                    use(xlink:href="images/main-page_icons-sprite.svg#apartament")
                .menu-info__text 
                    p.info-link Выбрать квартиру
        .menu-info__item
            svg.menu-info__icon
                use(xlink:href="images/main-page_icons-sprite.svg#phone")
                //CLASS CHANGE!!!
                .menu-info__text 
                    a(href="tel:+380506347178") +38(050) 634 71 78
                    p.link--active Заказать звонок
       
    ul.menu-footer
        li.menu-item
            a.link--active(href="#") Выбрать квартиру
        li.menu-item
            a(href="tel:+38(050)-991-58-80") +38 (050) 991 58 80
        li.menu-item
            a.link--email(href="mailto:angrobud@gmail.com") angrobud@gmail.com
    


.mobile-menu
    svg.mobile-menu__icon
        use(xlink:href="images/main-page_icons-sprite.svg#menu icon")
    