a {
    color: $tw;
    text-decoration: none;
    transition: all .3s;
    &:hover {
        color: $link-default;
    }
    &:visited {
        text-decoration: none;
    }
}

.link {
    color: $link-default;
    text-decoration: underline;
    &:hover {
        color: $light-hover;
    }
}

.link--active {
    color: $link-default;
    &:hover {
        color: $light-hover;
    }
}

.link--email {
    text-transform: lowercase;
}

.btn {
    font-size: 1.25rem;
    color: $bb-pressed;
    background: #FFF3A6;
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    transition: all .3s;
    border-radius: 2px;
    text-transform: inherit;
    width: 220px;
    &:hover {
        background: #514947;
        color: #FFFFFF;
    }
    @media (max-width: 1366px) {
        font-size: 1.1rem;
        width: unset;
    }
    @media (max-width: 576px) {
        width: 220px;
    }
    &__disabled {
        color: #828282;
        pointer-events: none;
    }
}

.arrow-btn {
    height: 65px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    text-decoration: none;
    color: $tw;
    &__text {
        font-size: 19px;
        line-height: 23px;
        letter-spacing: 0.05em;
        padding-left: 15px;
        @media (min-width: 1025px) {
            padding-left: 35px;
        }
    }
    &:hover {
        .arrow-btn__icon {
            &:after {
                background: $light-hover;
            }
        }
    }
    &:active {
        .arrow-btn__icon {
            svg {
                mix-blend-mode: exclusion;
            }
            &:after {
                background: $bb-pressed;
            }
        }
    }
    &__icon {
        position: relative;
        transition: all .3s;
        @include size(40px);
        @media (min-width: 1025px) {
            @include size(65px);
        }
        svg {
            @include pos($t: 50%, $l: 50%);
            transform: translateX(-50%) translateY(-50%) rotate(-90deg);
            @include size(13px, 35px);
            z-index: 2;
            fill: #423C3A;
        }
        &:after {
            content: '';
            @include size(40px);
            @include pos($t: 50%, $l: 0);
            transform: translateY(-50%);
            background: $button-default-color;
            border-radius: 50%;
            z-index: 1;
            transition: all .5s;
            @media (min-width: 1025px) {
                @include pos($t: 50%, $l: 0);
                @include size(65px);
            }
            &:hover {
                background: $active-button-t-color;
            }
        }
    }
    &--dark {
        color: #423C3A;
        &:hover {
            color: #514947;
        }
    }
    &--left {
        .arrow-btn__icon {
            .icon {
                top: 50%;
                left: 50%;
                transform: translateY(-50%) rotate(-180deg);
                @media (min-width: 1025px) {
                    top: 50%;
                    left: 30px;
                }
            }
        }
    }
}

//page 
.headline {
    font-size: 29px;
    line-height: 36px;
    padding-left: 35px;
    border-left: solid 2px $page-bg;
    grid-column: 1 / 13;
    margin: 0 0 80px 2px;
    text-transform: uppercase;
    @media (max-width: 1366px) {
        margin: 0 0 50px 2px;
        font-size: 19px;
        line-height: 24px;
    }
    @media (max-width: 576px) {
        font-size: 16px;
        line-height: 20px;
        margin: 0 0 30px 2px;
    }
}

.title {
    grid-column: 1 / 13;
    margin-bottom: 80px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    @media (max-width: 1366px) {
        font-size: 52px;
        margin-bottom: 10px;
    }
    @media (max-width: 576px) {
        font-size: 36px;
        line-height: 44px;
        margin-bottom: 10px;
    }
    @media (max-width: 812px) and (orientation: landscape) {
        font-size: 36px;
        line-height: 44px;
        margin-bottom: 10px;
    }
}

section {
    overflow: hidden;
    padding: 40px 0;
    background: #f5f5f4;
    @media (min-width: 1025px) {
        padding: 100px 0;
        background: #E5E5E5;
    }
}

.alert__text {
    font-size: 19px;
    line-height: 23px;
    display: none;
    &-red {
        color: #EB5757;
        display: block !important;
        position: absolute;
        left: unset;
        right: 0;
        @media (min-width: 1025px) {
            //bottom: -20px;
            left: 0;
        }
    }
}

//checkbox
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

section {
    flex-grow: 1;
    // @media (min-width: 1025px) {
    //     padding-left: 170px;
    // }
    // @media (min-width: 1201px) {
    //     padding-left: 170px;
    // }
    // @media (min-width: 1367px) {
    //     padding-left: 210px;
    // }
    // @media (min-width: 1601px) {
    //     padding-left: 0;
    // }
}

footer {
    @media (min-width: 1025px) {
        padding: 100px 0 50px 170px;
    }
    @media (min-width: 1201px) {
        padding: 100px 0 50px 210px;
    }
    @media (min-width: 1367px) {
        //padding-left: 210px;
    }
    @media (min-width: 1601px) {
        padding-left: 0;
    }
}

.object-header,
.gallery-header,
.blog-header,
.article-header,
.apartments-header {
    padding: 0 0 30px 0;
    @media (min-width: 1025px) {
        padding: 0 0 30px 170px;
    }
    @media (min-width: 1201px) {
        padding: 0 0 30px 210px;
    }
    @media (min-width: 1367px) {
        //padding-left: 210px;
    }
    @media (min-width: 1601px) {
        padding-left: 0;
    }
}