h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 1rem;
}

h1 {
    font-size: 96px;
}

h2 {
    font-size: 64px;
}

h3 {
    font-size: 36px;
}

h4 {
    font-size: 29px;
}

h5 {
    font-size: 24px;
}

h6 {
    font-size: 19px;
}

strong {
    //font-size: 1.15rem;
    font-weight: 600;
}

p {
    margin-bottom: 1rem;
    em {
        font-style: italic;
    }
    &:last-child {
        margin-bottom: 0;
    }
}

.alignleft {
    float: left;
    margin: 10px 10px 10px 0;
    width: 40%;
    height: auto;
}

.aligncenter {
    display: block;
    margin: 0 auto;
    width: 40%;
    height: auto;
}

.alignright {
    float: right;
    margin: 10px 0 10px 10px;
    width: 40%;
    height: auto;
}

.alignnone {
    width: 100%;
    height: auto;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    .page-numbers {
        font-family: Century Gothic;
        font-style: normal;
        font-weight: normal;
        font-size: 29px;
        line-height: 36px;
        text-transform: uppercase;
        color: #828282;
        margin: 0 11px;
    }
    .current {
        color: #423C3A;
    }
    .prev,
    .next {
        margin: 0 11px;
        font-size: 0;
        @include size(45px);
        background: #FFF3A6;
        border-radius: 50%;
        position: relative;
        &:before,
        &:after {
            content: '';
            @include pos($t: 45%, $l: 50%);
            @include size(2px, 14px);
            transform: translateY(-50%) translateY(50%) rotate(-45deg);
            background: #423c3a;
        }
        &:after {
            top: calc(45% - 2px);
            transform: translateY(-50%) rotate(45deg);
        }
    }
    .next {
        &:after {
            transform: translateY(-50%) rotate(-45deg);
        }
        &:before {
            transform: rotate(45deg);
        }
    }
}

.current-lang {
    text-decoration: underline;
    a {
        color: #FFF3A6;
    }
}