.object-modal
    .content.container 
        .information
            .date 01.04.2020 г.
            .information__headline Стоимость 1 кв.м в ЖК Остров с 01.04.2020
            .text Цены за квартиры в Жилом комплексе «Остров» по ул. Гоголя-77 на сайте указаны по состоянию на 01 апреля 2020 года
            table.price
                tr
                    th Вид квартиры
                    th Этаж 
                    th Стоимость 1 кв.м
                tr
                    td Однокомнатная
                    td 2,7,8
                    td 11500,00 грн
                tr
                    td Двухкомнатная
                    td 2,7,8
                    td 11500,00 грн
                tr
                    td Однокомнатная
                    td 3-6
                    td 12000,00 грн
                tr
                    td Двухкомнатная
                    td 3-6
                    td 12000,00 грн
                tr
                    td Трехкомнатная
                    td 9-9+
                    td 10000,00 грн
                tr
                    td Четырехкомнатная
                    td 9-9+
                    td 10000,00 грн
        .photo
            img(src="images/objects/object_img4.jpg", alt="ЖК 'На Сенной'").img
        .object-modal__btn
            .arrow-btn.arrow-btn--left
                .arrow-btn__icon
                    svg.icon
                        use(xlink:href="images/main-page_icons-sprite.svg#arrow")
                p.arrow-btn__text Подробнее
        .object-modal__close
            .close
            p Закрыть