.container.pagination
    a.prev.page-numbers(href="#") ←Ранее
    a.page-numbers(href="#") 1
    span.page-numbers.current(aria-current="page") 2
    a.page-numbers(href="#") 3
    a.page-numbers(href="#") 4
    span.page-numbers.dots …
    a.page-numbers(href="#") 6
    a.next.page-numbers(href="#") Далее→
